
<footer class="footer  text-white-600">

    <aside class="left  text-xl-start text-sm-center">
      <div class="horarios">
        <div class="horarios__acerca">
          <h5>Acerca de</h5>
          <div class="flex-column-center">
            <p class=" ">Localización</p>
            <p>Preguntas frecuentes</p>
            <p>Contacto</p>
          </div>

        </div>
        <div class="involucrate">
          <h5 >Involucrate</h5>
          <p >Trabajos<br>Voluntariado<br>Licencias
          </p>
        </div>
      </div>
    </aside>


    <div class="center  ">
      <div class="logo"><img src="img/footer/LogoNegativo.svg"></div>
      <div class="redes">
        <h5 class=" text-center">Siguenos en nuestras redes sociales</h5>
        <div class="socialMedia">
          <div class="social" id="facebook"></div>
          <div class="social" id="x"></div>
          <div class="social" id="instagram"></div>
          <div class="social" id="Youtube"></div>
        </div>
      </div>
      <div class="taquilla">
        <h5 class=" text-center">Horarios</h5>
        <p class=" text-center">Taquilla de lunes a viernes 10 am a 5 pm. <br> Taquilla sábados y domingos 9 am a
          5 pm.</p>
      </div>
    </div>


    <aside class="right  text-xl-end text-sm-center">
      <div class="cuenta-descubre">
        <div class="cuenta">
          <h5>Cuenta</h5>
          <p>Ingresa<br>Promociones<br>Mensajes
          </p>
        </div>
        <div class="descubre">
          <h5 >Descubre</h5>
          <p >Animales<br>Boletos<br>Paquetes
          </p>
        </div>
      </div>
    </aside>

    <div class="letras"><img src="img/footer/ZooLogicLetras.svg" alt=""></div>


</footer>
