<footer class="footer text-white-600">

    <aside class="left text-xl-start text-sm-center">
        <div class="acercaInvolucrate">
            <div class="acercaInv">
                <h5 class="acercaInvH5">Acerca de</h5>
                <p class="p1 leftP">Localización<br>Preguntas frecuentes<br>Contacto
                </p>
            </div>
            <div class="acercaInv">
                <h5 class="acercaInvH5">Involucrate</h5>
                <p class="p1 leftP">Trabajos<br>Voluntariado<br>Licencias
                </p>
            </div>
        </div>
    </aside>
    <div class="center text-center">
        <div class="logo"><img src="img/footer/LogoNegativo.svg"></div>
        <div class="redes">
            <h5 class="redesH5 text-center">Siguenos en nuestras redes</h5>
            <div class="socialMedia">
                <div class="social" id="facebook"></div>
                <div class="social" id="x"></div>
                <div class="social" id="instagram"></div>
                <div class="social" id="Youtube"></div>
            </div>
        </div>
        <div class="horarios text-center">
            <h5 class="horariosH5 ">Horarios</h5>
            <p class="p1 horariosP text-center">Taquilla de lunes a viernes 10 am a 5 pm. Taquilla sábados y domingos 9 am a 5 pm.</p>
        </div>
    </div>
    <aside class="right text-xl-end text-sm-center">
        <div class="cuentaDescubre">
            <div class="cuentaDe">
                <h5 class="cuentaDeH5">Cuenta</h5>
                <p class="p1 cuentaDeP">Ingresa<br>Promociones<br>Mensajes
                </p>
            </div>
            <div class="cuentaDe">
                <h5 class="cuentaDeH5">Descubre</h5>
                <p class="p1 cuentaDeP">Animales<br>Boletos<br>Paquetes
                </p>
            </div>
        </div>
    </aside>
    <div class="letras"><img src="img/footer/ZooLogicLetras.svg" alt=""></div>
</footer>