.footer {
    display: flex;
    width: 100vw; /* 1920px equivalente a 100vw */
    height: 100vh; /* 966px equivalente a 100vh */
    padding: 4.17vh 8.54vw; /* 80px -> 4.17vh y 164px -> 8.54vw */
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    background: var(--Primario-800, #25442B);

    .left, .right {
        display: flex;
        width: 26.15vw; /* 502px -> 26.15vw */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.14vh; /* 40px -> 4.14vh */
        flex-shrink: 0;
    }
    .left {
        .acercaInvolucrate {
            display: flex;
            width: 15.89vw; /* 305px -> 15.89vw */
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4.14vh; /* 40px -> 4.14vh */

            .acercaInv {
                width: 12.29vw; /* 236px -> 12.29vw */
                height: 18.12vh; /* 175px -> 18.12vh */
                
                .acercaInvH5 {
                    display: flex;
                    width: 12.24vw; /* 235px -> 12.24vw */
                    height: 6.11vh; /* 59px -> 6.11vh */
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;
                }
                .leftP {
                    display: flex;
                    width: 12.29vw; /* 236px -> 12.29vw */
                    height: 9.94vh; /* 96px -> 9.94vh */
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;
                }
            }
        }
    }
    .center {
        display: flex;
        width: 26.25vw; /* 504px -> 26.25vw */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6.63vh; /* 64px -> 6.63vh */
        flex-shrink: 0;

        .logo {
            width: 8.96vw; /* 172px -> 8.96vw */
            height: 12.01vh; /* 116px -> 12.01vh */
        }
        .redes {
            display: flex;
            width: 24vw; /* 461px -> 24vw */
            flex-direction: column;
            align-items: flex-start;
            gap: 2.07vh; /* 20px -> 2.07vh */

            .redesH5 {
                display: flex;
                height: 12.12vh; /* 117px -> 12.12vh */
                flex-direction: column;
                justify-content: flex-end;
                align-self: stretch;
            }
            .socialMedia {
                display: flex;
                padding: 0 2.07vw; /* 40px -> 2.07vw */
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                .social {
                    width: 3.75vw; /* 72px -> 3.75vw */
                    height: 7.45vh; /* 72px -> 7.45vh */
                }

                #facebook,
                #instagram,
                #youtube,
                #x {
                    background-size: contain;
                    background-repeat: no-repeat;
                    transition: background 0.5s ease, color 0.5s ease;
                }
            }
        }
        .horarios {
            display: flex;
            height: 6.11vh; /* 59px -> 6.11vh */
            flex-direction: column;
            justify-content: center;
            align-self: stretch;
            
            .horariosH5,
            .horariosP {
                display: flex;
                height: 6.11vh; /* 59px -> 6.11vh */
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    .right {
        .cuentaDescubre {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4.14vh; /* 40px -> 4.14vh */

            .cuentaDe {
                width: 12.29vw; /* 236px -> 12.29vw */
                height: 18.12vh; /* 175px -> 18.12vh */

                .cuentaDeH5 {
                    display: flex;
                    width: 12.24vw; /* 235px -> 12.24vw */
                    height: 6.11vh; /* 59px -> 6.11vh */
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;
                }
                .cuentaDeP {
                    display: flex;
                    width: 12.29vw; /* 236px -> 12.29vw */
                    height: 9.94vh; /* 96px -> 9.94vh */
                    flex-direction: column;
                    justify-content: center;
                    flex-shrink: 0;
                }
            }
        }
    }
    .letras {
        display: flex;
        width: 100%;
        height: 7.45vh; /* 72px -> 7.45vh */
        padding: 0.41vh 3.33vw; /* 4px -> 0.41vh y 64px -> 3.33vw */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.04vh; /* 10px -> 1.04vh */
        flex-shrink: 0;
    }
}

@media (max-width: 768px) {
    .footer {
    
        width: 100%;
        padding: 20px 10px;
        align-items: center;
        text-align: center;

        display: grid;
        grid-template-columns: 1fr 1fr;


       
    }

    .footer__redes{

    }

    .left, .center, .right {
        width: 100% !important; 
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
    }

    .left, .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .acercaInvolucrate, .cuentaDescubre {
        flex-direction: row; /* Poner en fila para que las secciones estén lado a lado */
        gap: 10px;
        justify-content: center;
    }

    .acercaInv, .cuentaDe {
        width: auto; /* Ajustar ancho automáticamente */
    }

    .center {
        align-items: center;
    }

    .socialMedia {
        padding: 0;
        justify-content: center;
    }

    .social {
        width: 48px;
        height: 48px;
        margin: 0 5px;
    }

    .horarios {
        width: 100%;
        text-align: center;
    }

    .letras {
        width: 100%;
        padding: 10px;
        background: var(--Primario-800, #25442B);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
