<footer class="footer text-white-600">
    <aside class="left">
        <div class="acercaInvolucrate">
            <div class="acercaInv">
                <h5 class="acercaInvH5">Acerca de</h5>
                <p class="p1 leftP">Localización<br>Preguntas frecuentes<br>Contacto
                </p>
            </div>
            <div class="acercaInv">
                <h5 class="acercaInvH5">Involucrate</h5>
                <p class="p1 leftP">Trabajos<br>Vountariado<br>Licencias
                </p>
            </div>
        </div>
    </aside>
    <div class="center">
        <div class="logo"><img src="../../../../public/img/footer/LogoNegativo.svg"></div>
        <div class="redes">
            <h5 class="redesH5 text-center">Siguenos en nuestras redes</h5>
            <div class="socialMedia">
                <img src="" alt="facebook" class="social">
                <img class="social" src="" alt="x" class="social">
                <img src="" alt="instagram" class="social">
                <img src="" alt="you tube" class="social">
            </div>
        </div>
        <div class="horarios">
            <h5 class="horariosH5 text-center">Horarios</h5>
            <p class="p1 horariosP">Taquilla de lunes a viernes 10 am a 5 pm.
                Taquilla sábados y domingos 9 am a 5 pm.</p>
        </div>
        <div class="letras"><img src="../../../../public/img/footer/ZooLogicLetras.svg" alt=""></div>
    </div>
    <aside class="right">
        <div class="cuentaDescubre">
            <div class="cuentaDe">
                <h5 class="cuentaDeH5">Cuenta</h5>
                <p class="p1 cuentaDeP">Ingresa<br>Promociones<br>Mensajes
                </p>
            </div>
            <div class="cuentaDe">
                <h5 class="cuentaDeH5">Descubre</h5>
                <p class="p1 cuentaDeP">Animales<br>Boletos<br>Paquetes
                </p>
            </div>
        </div>
    </aside>
</footer>