
    <div class="selector">
        <div class="infoRecorrido text-white-800">
            <div class="imgRecorrido"></div>
            <div class="textoRec">
                <h4>Recorrido</h4>
                <p>Nombre</p>
                <p class="bold">Precio: </p>
            </div>
        </div>
        <div class="desplegable" data-bs-toggle="dropdown" aria-expanded="false"></div>
        <ul class="dropdown-menu w-50">
            <li>
                
                <div class="selector">
                    <div class="infoRecorrido text-white-800">
                        <div class="imgRecorrido"></div>
                        <div class="textoRec">
                            <h4>Recorrido</h4>
                            <p>Nombre</p>
                            <p class="bold">Precio: </p>
                        </div>
                    </div>
                </div>

            </li>

            <li>
                
                <div class="selector">
                    <div class="infoRecorrido text-white-800">
                        <div class="imgRecorrido"></div>
                        <div class="textoRec">
                            <h4>Recorrido</h4>
                            <p>Nombre</p>
                            <p class="bold">Precio: </p>
                        </div>
                    </div>
                </div>

            </li>


        </ul>
        
    </div>
