<app-header-dash-edit title="Editar Boleto" subtitle="Edición de datos"></app-header-dash-edit>

  <form action="" class="formGuias">
    <div class="items">
      <h6 class="thin">Nombre Completo</h6>
     <input type="text" name="Nombre" id="Nombre" autofocus placeholder="Nombre">
      <h6 class="thin">Precio</h6>
     <input type="text" name="Estado" id="Estado" placeholder="Estado">
     <h6 class="thin">Descripción</h6>
     <textarea name="descripcion" id="descripcion" placeholder="Descripción"></textarea>
     <h6 class="thin">Nota</h6>
     <textarea name="nota" id="nota" placeholder="Nota"></textarea>
    </div>
    <button class="formBtn" routerLink="/dashboard/boletos">Modificar</button>
  </form>

  