

<!-- JAGUAR -->
<!-- <div class="carousel-item2 active">
  <div class="carousel-img jaguar-img"></div>

  <div class="text-white-500 jaguarC">
    <h1 class="carouselH1">Los animales más sorprendentes</h1>
    <p class="carouselP p1">Descubre criaturas increíbles en cada rincón del zoológico. Desde felinos majestuosos hasta aves exóticas, cada una de nuestras criaturas tiene una historia que contar y una maravilla por mostrar.</p>
    <button class="but chiquito" href="#">Ver animales</button>
  </div>
</div> -->







 <!-- PANDA -->
<!-- <div class="carousel-item2">
  <div class="carousel-img panda-img"></div>

  <div class="pandaR text-black-800">
    <h1 class="carouselH1-2">El Encanto del Panda Rojo</h1>
    <p class="carouselP-2 p1">Descubre la ternura y el misterio de una de las especies más adorables del planeta. El panda rojo, con su mirada inquisitiva y su pelaje suave como el terciopelo, es una de las criaturas más encantadoras de la naturaleza.</p>
    <button class="but-2 chiquito" href="#">Ver animales</button>
  </div>
</div> -->

<!-- JIRAFA -->
  <!-- <div class="carousel-item">
    <div class="carousel-img jirafa-img"></div>

    <div class="Jirafa text-white-500">
      <h1 class="carouselH1">Aprende mientras te Diviertes</h1>
      <p class="carouselP p1">En nuestro zoológico, cada visita es una oportunidad para aprender sobre conservación y biodiversidad. ¡Para grandes y chicos!</p>
      <button class="but chiquito" href="#">Ver animales</button>
    </div>
  </div> -->

<!-- BUHO -->
  <div class="carousel-item2">
    <div class="carousel-img buho-img"></div>

    <div class="Buho text-white-500">
      <h1 class="carouselH1">Colores del Cielo</h1>
      <p class="carouselP p1">Explora la vibrante y diversa vida de las aves exóticas que habitan las selvas, bosques y cielos de todo el planeta. ¡Déjate sorprender por su belleza y diversidad!</p>
      <button class="but chiquito" href="#">Ver animales</button>
    </div>
  </div>

