<app-dashboard-content dashboardTitulo="Animales" class="content">
    <section class="h6Animales">
        <h6 class="thin center">Contenido animales</h6>
    </section>
    <section class="div-table-responsive ">
        <table class="table-animales bg-white-200 ">
          <thead>
            <tr>
              <th scope="col" class="bold p2 cell">Id</th>
              <th scope="col" class="bold p2 cell" >Nombre</th>
              <th scope="col" class="bold p2 cell" >Tipo</th>
              <th scope="col" class="bold p2 cell" >Peso</th>
              <th scope="col" class="bold p2 cell" >Altura</th>
              <th scope="col" class="bold p2 cellwh">Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">Elefante africano</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>

            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
            <tr>
              <td class="p2 cell">1</td>
              <td class="p2 cell">León</td>
              <td class="p2 cell">Terrestre</td>
              <td class="p2 cell">66 kg</td>
              <td class="p2 cell">100m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </section>
</app-dashboard-content>