<app-dashboard-content dashboardTitulo="Animales" >
    <div class="h6Animales">
        <h6 class="thin center">Contenido animales</h6>
    </div>
    <div class="table-responsive small">
        <table class="table  table-sm">
          <thead>
            <tr>
              <th scope="col" class="bold p2 cell">Id</th>
              <th scope="col" class="bold p2 cell" >Nombre</th>
              <th scope="col" class="bold p2 cell" >Tipo</th>
              <th scope="col" class="bold p2 cell" >Peso</th>
              <th scope="col" class="bold p2 cell" >Altura</th>
              <th scope="col" class="bold p2 cellwh">Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let animal of animales">
              <td class="p2 cell">{{animal.id}}</td>
              <td class="p2 cell">{{animal.nombre}}</td>
              <td class="p2 cell">{{animal.tipo}}</td>
              <td class="p2 cell">{{animal.peso}} kg</td>
              <td class="p2 cell">{{animal.altura}}m</td>
              <td class="p2 cellw"><button>Editar</button><button class="delete">Eliminar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
</app-dashboard-content>
