.info{
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    .titleEdit{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        .title{
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .edit{
            display: flex;
            padding: 10px 16px;
            align-items: center;
            gap: 16px;
            svg:hover  path{
                transition: 0.3s ease;
                fill: var(--amarillo-500, #DCA617);
                cursor: pointer;
            }
        }
    }
    .datos{
        display: flex;
        padding: 0px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;
        .img-perfil{
            display: flex;
            padding: 8px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius: 8px;
            background: var(--Blanco-200, #F9FFF5);
            img{
                aspect-ratio: 1/1;
                border-radius: 92px;
            }
        }
        .dato{
            display: flex;
            padding: 8px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            border-radius: 8px;
            background: var(--Blanco-200, #F9FFF5);
        }
    }
}
.metodoPago{
    grid-column: 6 / span 7;
    display: flex;
    padding: 0px 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    .titleAdd{
        display: flex;
        align-items: center;
        gap: 40px;
        .title{
            display: flex;
            align-items: center;
            gap: 24px;
        }
        .add{
            display: flex;
            padding: 10px 16px;
            align-items: center;
            gap: 16px;
            svg:hover path{
                transition: 0.3s ease;
                fill: var(--amarillo-500, #DCA617);
                cursor: pointer;
            }
        }
    }
    .tarjetas{
        display: flex;
        padding: 8px 36px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border-radius: 8px;
        background: var(--Blanco-200, #F9FFF5);
        .tarjeta{
            display: flex;
            width: 178px;
            justify-content: space-between;
            align-items: center;
            .minus:hover path{
                transition: 0.3s ease;
                fill: var(--amarillo-500, #DCA617);
                cursor: pointer;
            }
        }
    }
}

.modalPerfil{
    display: flex;
    width: 686px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 24px;
    background: var(--Blanco-200, #F9FFF5);
    header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        .titleIco{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            align-self: stretch;

        }
        .close:hover path{
            transition: 0.3s ease;
            fill: #A9302B;
            cursor: pointer;
        }
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
}