@import "../../../scss/variables";

.card {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 16px;
  border-radius: 24px;
  background: var(--Negro-600, #2E312E); /* Color de fondo ajustado según tus variables */
  box-shadow: 0px 11px 10.9px 0px rgba(0, 0, 0, 0.25);
}

.card:hover{

  background: var(--Secundario-Auxiliar-600, #EDC457);
  transition: background-color 0.5s ease, color 0.5s ease;
  .card-animal-info{
    color: var(--Negro-800, #1D1F1D);
  }
  .card-animal-nombre{
    color: var(--Negro-800, #1D1F1D);
  }
  .nombre-cientifico{
    color: var(--Negro-300, #606560);
  }
  .weight{
    background: url(../../../../public/img/card-animales/WeightHover.svg);
  }
  .rule{
    background: url(../../../../public/img/card-animales/RulerHover.svg);
  }
  .Aéreo{
    background: url(../../../../public/img/card-animales/IconoAireHover.svg);
  }

}

.card-image {
  display: flex;
  height: 18.5rem; /* Tamaño de la imagen */
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.descripcion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 0 1rem;
  align-self: stretch;
}

.card-animal-nombre{
  color: var(--Blanco-300, #FCFFF9);

  font-family: "Fredoka";
  font-style: normal;
  font-weight: 300 !important ;
  line-height: 150%; /* 48px */
}

.card-animal-info{
  color: var(--Blanco-600, #F7FFF1);
/* Desktop/P 02/Ligth */
font-family: "Comic Neue";
font-style: normal;
font-weight: 300;
line-height: 150%; /* 30px */
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: var(--Blanco-300, #FCFFF9); /* Color de texto */
}

.weight{
  width: 30px;
  height: 30px;
  background: url('./../../../../public/img/card-animales/Weight.svg');
}
.rule {
  width: 30px;
  height: 30px;
  background: url('./../../../../public/img/card-animales/Ruler.svg');
}
.Terrestre {
  width: 30px;
  height: 30px;
  background: url('./../../../../public/img/card-animales/IconTerrestre.png');
}
.Aéreo {
  width: 30px;
  height: 30px;
  background: url('./../../../../public/img/card-animales/IconoAire.svg');
}




.info {
  display: flex;
  align-items: center; /* Centrar el contenido verticalmente */
  justify-content: center;
  gap: 8px;
  font-family: "Fredoka";
  font-weight: 300;
  color: var(--Blanco-300, #FCFFF9);
}

.nombre-cientifico {
  color: var(--Blanco-800, #E7ECE3);
font-family: "Comic Neue";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

@media (max-width: 768px) {

  .nombre-cientifico {
  font-size: 8.77px;
  }
  .card-animal-info{
    font-size: 8px;
  }
  .card{
    display: flex;
    width: 164px;
    height: 260px;
    padding-bottom: 7.816px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7.816px;
    .card-image{
      height: 144.597px;
  flex-shrink: 0;
  align-self: stretch;
    }

    .descripcion{
      display: flex;
      padding: 0px 7.816px;
      flex-direction: column;
      align-items: flex-start;
      gap: 3.908px;
      align-self: stretch;
      .info{
        gap: 3.908px;
        .weight{
          width: 15px;
      height: 15px;
      background-size: contain; // Ajusta la imagen dentro del contenedor sin recortes
  background-repeat: no-repeat;
  background-position: center;
        }
        .rule{
          width: 15px;
          height: 15px;
          background-size: contain; // Ajusta la imagen dentro del contenedor sin recortes
  background-repeat: no-repeat;
  background-position: center;
        }
        .Aéreo{
          width: 15px;
          height: 15px;
          background-size: contain; // Ajusta la imagen dentro del contenedor sin recortes
  background-repeat: no-repeat;
  background-position: center;
        }
        .Terrestre{
          width: 14.655px;
          height: 14.655px;
          background-size: contain; // Ajusta la imagen dentro del contenedor sin recortes
  background-repeat: no-repeat;
  background-position: center;
        }
      }
    }

  }
}
