<section class="screen">
    <app-indicador class="indicator" [step]="{
        ticket: '',
        confirmacion: '',
        finalizar: 'active'
    }"></app-indicador>
    <div class="gracias">
        <div class="texto">
            <h3 class="thin text-center">Gracias por su Compra</h3>
            <p class="thin text-center">Resumen del pedido</p>
            <div class="resumen">
                <div class="boletos">
                    <p class="p1 thin">
                        Boleto Infantil<br>
                        Boleto Adulto<br>
                        Boleto Tercera Edad
                    </p>
                    <p class="p1 bold">
                        1<br>
                        2<br>
                        3
                    </p>
                </div>
                <h6>Total: $1000</h6>
            </div>
        </div>
        <button>Boletos</button>
    </div>
</section>