.atras{
    cursor: pointer;
    display: flex;
    width: 96px;
    height: 96px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    .atrasIcoDesk{
        width: 80px;
        height: 80px;
        &:hover{
            .background{
            transition: 0.3s ease;

                fill: #F6E0A8;
            }
            .border{
            transition: 0.3s ease;

                fill: #DCA617;
            }
        }
    }
}

@media (max-width: 1200px) {
    .atras{
        width: 60px;
        height: 60px;
    }
    .atrasIcoDesk{
        width: 50px;
        height: 50px;
    }
}