.contador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .icoCont{
        width: 21px;
        height: 21px;
        cursor: pointer;
        &:hover path{
            transition: 0.3s ease;
            fill: #DCA617;
        }
    }
    p{
        width: 40px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .contador{
        display: flex;
        align-items: center;
        gap: 8px;
        .icoCont{
            width: 16px;
            height: 16px;
        }
        P{
            width: 16px;
        }
    }
}