<div class="component-boletos text-center">
    <div class="arriba">
      <img [src]="boleto.image" [alt]="boleto.image" class="image">
      <div class="content bg-primaryAux-200">
        <h5 class="title">{{boleto.title}}</h5>
        <p class="description p2 thin">{{boleto.description}}</p>
      </div>
    </div>
  
    <div class="footerBol bg-primary-500 text-white text-center">
      <p class="p1 bold age">{{boleto.age}}</p>
      <div class="linea"></div>
      <p class="p1 bold price">{{boleto.price}}</p>
      <div class="linea"></div>
      <p class="p1 bold type">{{boleto.type}}</p>
    </div>
  </div>