.animalesSoloPage{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr); /* 12 columnas iguales */
    gap: 20px; /* Espaciado entre columnas */
    padding: 0px 41px;
    .hero{
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        padding: 120px 0px 20px;
        .imgAnimalPage{
            height: 300px;
            width: 100%;
            background-color: rgb(234, 87, 2);
            img{
              width: 100%;
              height: 100%;
            }

        }
        .caracteristicas{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            .weight{
                width: 30px;
                height: 30px;
                background-image: url(../../../../public/img/card-animales/WeightHover.svg);
            }
            .rule{
                width: 30px;
                height: 30px;
                background-image: url(../../../../public/img/card-animales/RulerHover.svg);
            }
            .Terrestre{
                width: 30px;
                height: 30px;
                background-image: url(../../../../public/img/card-animales/IconTerrestreHover.svg);
            }
            .Aereo{
                width: 30px;
                height: 30px;
                background-image: url(../../../../public/img/card-animales/IconoAireHover.svg);
            }
        }

    }
    .detalles{
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        padding: 20px 0px;

        .fisionomia{
            grid-column: span 1;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .dieta{
            grid-column-start: span 1;
            grid-row-start: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .conducta{
            grid-column-start: 2;
            grid-row-start: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .dieta{
            grid-column-start: 1;
            grid-row-start: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .datosCuriosos{
            grid-column-start: 2;
            grid-row-start: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

    }
    .descripcionAnimal{
        grid-column: span 2;
        display: flex;
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        .img2Animal{
            width: 100%;
            height: 300px;
            background-color: blueviolet;

            img{
              width: 100%;
              height: 100%;
            }
        }
    }
    .ubicacion{
        grid-column: span 2;
        display: flex;
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        .mapa{
            width: 100%;
            height: 300px;
            background-color: rgba(22, 189, 100, 0.773);
        }
    }
    .conocelo{
        grid-column: span 2;
        display: flex;
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

}
