<div class="animalesSoloPage">
    <section class="hero">
        <div class="imgAnimalPage"></div>
        <h1>NombreAnimal</h1>
        <p class="thin">Nombre cientifico</p>
        <div class="caracteristicas">
            <div class="weight"></div>
            <p class="thin">Peso</p>
            <div class="rule"></div>
            <p class="thin">Altura</p>
            <div class="Terrestre"></div>
            <p class="thin">Terrestre</p>
        </div>
    </section>
    <section class="detalles">
        <div class="fisionomia">
            <h6 class="thin">Fisionomía</h6>
            
        </div>
        <div class="conducta">
            <h6 class="thin">Conducta</h6>


        </div>
        <div class="dieta">
            <h6 class="thin">Dieta</h6>


        </div>
        <div class="datosCuriosos">
            <h6 class="thin">Datos Curiosos</h6>

        </div>
    </section>
</div>