<div class="">
  <app-nav-bar></app-nav-bar>
</div>
<h1 class="px-2">csds</h1>

<!-- animal-card -->
<div class="d-flex justify-content-evenly">

<app-animal-card [animal] = "{
  nombre: 'León',
  peso: '200 kg',
  altura: '1.2 m',
  tipo: 'Terrestre',
  nombreCientifico: 'Panthera leo',
  imagenUrl: 'img/card-animales/Leon.png'
  }" >

</app-animal-card>

<app-animal-card [animal] = "{
  nombre: 'Jirafa',
  peso: '1000 kg',
  altura: '5.5 m',
  tipo: 'Terrestre',
  nombreCientifico: 'Giraffa camelopardalis',
  imagenUrl: 'img/card-animales/Jirafa.png'
  }"></app-animal-card>

<app-animal-card [animal] = "{
    nombre: 'Búho real',
    peso: '2.75 kg',
    altura: '0.675 m',
    tipo: 'Aéreo',
    nombreCientifico: 'Bubo bubo',
    imagenUrl: 'img/card-animales/Buho.png'
    }"></app-animal-card>

    <app-animal-card [animal] = "{
      nombre: 'Tucán toco',
      peso: '0.68 kg',
      altura: '0.6 m',
      tipo: 'Aéreo',
      nombreCientifico: 'Ramphastos toco',
      imagenUrl: 'img/card-animales/Tucan.png'
      }"></app-animal-card>


      <app-animal-card [animal] ="{
        nombre: 'Elefante  africano',
        peso: '6 ton',
        altura: '3 m',
        tipo: 'Terrestre',
        nombreCientifico: 'Loxodonta africana',
        imagenUrl: 'img/card-animales/Elefante.png'
      }">

      </app-animal-card>
</div>

<!-- text-grid4 -->
<div class="d-flex justify-content-evenly">
 <app-text-grid4 [textGrid4] = "{
  title: 'Conoce a nuestros animales Terrestres',
  description: 'Podrás descubrir una asombrosa variedad de especies que habitan la tierra. 
  Desde los majestuosos leones y tigres hasta los elegantes elefantes y jirafas, cada animal nos muestra la diversidad de la vida en nuestro planeta.',
  boton: 'Conócelos',
 }"></app-text-grid4>

 <app-text-grid4 [textGrid4] = "{
  title: 'Conoce a nuestros animales Aéreos',
  description: 'Te invitamos a conocer las increíbles criaturas que dominan los cielos. Desde coloridas aves tropicales hasta majestuosas águilas, cada especie te sorprenderá con su habilidad para volar y sus características únicas.',
  boton: 'Conócelos',
 }"></app-text-grid4>
</div>
<!-- text-grid5 -->
<div class="d-flex justify-content-evenly">
  <app-text-grid5 [textGrid5]=" {
    title: 'Actividades educativas',
    description: 'Descubre el mundo animal de forma divertida y práctica. A través de talleres guiados, conectamos a todas las edades con la naturaleza, fomentando la curiosidad y la conciencia ambiental.',
    boton: 'Ver más'
  } "></app-text-grid5>
  <app-text-grid5 [textGrid5]=" {
    title: 'Recorridos',
    description: 'Explora cada rincón del zoológico con nuestros expertos. Sumérgete en historias fascinantes sobre la vida silvestre y descubre curiosidades únicas mientras te conectas con la naturaleza en un recorrido inolvidable.',
    boton: 'Ver más'
  } "></app-text-grid5>
  <app-text-grid5 [textGrid5]=" {
    title: 'Ubicación',
    description: 'Zoo-Logic\nAvenida Naturaleza 123,\nCiudad Verde, CP 45678,\nMexico, Cancún, Q.Roo\n\nAccede por la ciclovía de la Avenida Naturaleza.',
    boton: 'Destino'
  } "></app-text-grid5>
</div>

<!-- experiencias -->
  <div class="d-flex justify-content-between m-12">
    <app-experiencias-card [experiencias] = "{
      title: 'Safari fotográfico',
      texto: 'Captura momentos únicos junto a los animales más salvajes del zoológico.',
      image: 'img/card-experiencias/SafariFotografico.png'
    }
    "></app-experiencias-card>

    <app-experiencias-card [experiencias] = "{
      title: 'Espectáculo de aves',
      texto: 'Admira el vuelo majestuoso de halcones y águilas mientras aprendes sobre estas impresionantes aves.',
      image: 'img/card-experiencias/EspectaculoAves.png'
    }
    "></app-experiencias-card>

    <app-experiencias-card [experiencias] = "{
      title: 'Alimentación de animales',
      texto: 'Vive la experiencia de alimentar a jirafas, llamas y otros animales amigables.',
      image: 'img/card-experiencias/AlimentacionAnimales.png'
    }
    "></app-experiencias-card>
  </div>

  <!-- boletos -->
  <div class="d-flex justify-content-between m-12">
    <app-boletos [boleto]=" {
      title: 'Boleto Infantil',
      description: 'Ideal para los más pequeños, este boleto permite a los niños explorar el mundo animal de manera divertida y educativa, con acceso a áreas interactivas y actividades especiales.',
      age: '3 a 12 años',
      price: '$70',
      type:  'Descuento',
      image: 'img/card-boletos/Niños.png'
    }"></app-boletos>

<app-boletos [boleto]=" {
  title: 'Boleto Adulto',
  description: 'Disfruta del zoológico en su totalidad con acceso completo a exhibiciones y charlas educativas para vivir una experiencia completa y enriquecedora.',
  age: 'A partir de 13 años',
  price: '$120',
  type:  'Acceso',
  image: 'img/card-boletos/Adultos.png'
}"></app-boletos>

<app-boletos [boleto]=" {
  title: 'Boleto Tercera Edad',
  description: 'Con un precio especial, este boleto ofrece una experiencia tranquila y accesible, ideal para disfrutar de cada rincón y aprender sobre conservación.',
  age: 'Mayores de 60 años',
  price: '$70',
  type:  'Descuento',
  image: 'img/card-boletos/3raEdad.png'
}"></app-boletos>



  </div>

  <!-- footer -->
  <div>
    <app-footer></app-footer>
    </div>

    
<router-outlet/>

