
<app-animal-card [animal] = "{
  nombre: 'León',
  peso: '200 kg',
  altura: '1.2 m',
  tipo: 'Terrestre',
  nombreCientifico: 'Panthera leo',
  imagenUrl: 'img/card-animales/Leon.png',
  tipoImg: ''
  }" >

</app-animal-card>

<app-animal-card [animal] = "{
  nombre: 'Jirafa',
  peso: '1000 kg',
  altura: '5.5 m',
  tipo: 'Terrestre',
  nombreCientifico: 'Giraffa camelopardalis',
  imagenUrl: 'img/card-animales/Jirafa.png',
  tipoImg: ''
  }"></app-animal-card>

<app-animal-card [animal] = "{
    nombre: 'Búho real',
    peso: '2.75 kg',
    altura: '0.675 m',
    tipo: 'Aéreo',
    nombreCientifico: 'Bubo bubo',
    imagenUrl: 'img/card-animales/Buho.png',
    tipoImg: ''
    }"></app-animal-card>

    <app-animal-card [animal] = "{
      nombre: 'Tucán toco',
      peso: '0.68 kg',
      altura: '0.6 m',
      tipo: 'Aéreo',
      nombreCientifico: 'Ramphastos toco',
      imagenUrl: 'img/card-animales/Tucan.png',
      tipoImg: ''
      }"></app-animal-card>

      <app-text-button [textButton] = "{
        title:  'Conoce a nuestros animales Terrestres',
        texto: 'Podrás descubrir una asombrosa variedad de especies que habitan la tierra.
        Desde los majestuosos leones y tigres hasta los elegantes elefantes y jirafas, cada animal nos muestra la diversidad de la vida en nuestro planeta.',
        boton: 'Conócelos'

      }"></app-text-button>
      <app-text-button [textButton] = "{
        title:  'Conoce a nuestros animales Aéreos',
        texto: 'Te invitamos a conocer las increíbles criaturas que dominan los cielos. Desde coloridas aves tropicales hasta majestuosas águilas, cada especie te sorprenderá con su habilidad para volar y sus características únicas.',
        boton: 'Conócelos'

      }"></app-text-button>
      <app-text-button [textButton] = "{
        title:  'Actividades educativas',
        texto: 'Descubre el mundo animal de forma divertida y práctica. A través de talleres guiados, conectamos a todas las edades con la naturaleza, fomentando la curiosidad y la conciencia ambiental.',
        boton: 'Ver más'

      }"></app-text-button>
      <app-text-button [textButton] = "{
        title:  'Recorridos',
        texto: 'Explora cada rincón del zoológico con nuestros expertos. Sumérgete en historias fascinantes sobre la vida silvestre y descubre curiosidades únicas mientras te conectas con la naturaleza en un recorrido inolvidable.',
        boton: 'Ver más'

      }"></app-text-button>
      <app-text-button [textButton] = "{
        title:  'Ubicación',
        texto: 'Zoo-Logic Avenida Naturaleza 123, Ciudad Verde, CP 45678, Mexico, Cancún, Q.Roo

        Accede por la ciclovía de la Avenida Naturaleza.',
        boton: 'Destino'

      }"></app-text-button>
      

      
<router-outlet/>