

<div class="page">
  <div class="frameCentrar">
      <div class="cont">
          <div class="atras"></div>
      </div>

      <form action="" class="form">
        <div class="textForm text-center">
            <h3 class="h3Form">Regístrate</h3>
            <h6 class="thin h3Form">Y comienza tu aventura</h6>
        </div>
        <input type="text" name="nombre" class="formInput" placeholder="Nombre">
        <input type="text" name="apellido" class="formInput" placeholder="Apellido">
        <input type="text" name="nombre_usuario" class="formInput" placeholder="Nombre de usuario">
        <input type="email" name="apellido" class="formInput" placeholder="Correo electrónico">
        <input type="password" name="contraseña" class="formInput" placeholder="Contraseña">
        <input type="password" class="formInput" placeholder="Confirmar contraseña">
        <button>Continua</button>
        <a routerLink="/login" class="p2">¿Ya tiene cuenta? Inicia sesion aqui</a>
      </form>


  </div>
</div>
