<app-dashboard-content dashboardTitulo="Reportes" dashboardDescripcion="Rendimiento General">
    <section class="buttons">
        <button (click)="reportesSemana()" class="search">Última Semana</button><button (click)="reportesMes()" class="search">Último Mes</button><button (click)="reportesAno()" class="search">Último Año</button>
    </section>

    <main>
        <section class="stat">
            <h5 class="thin">Boletos</h5>
            <div class="content">
                <h6 class="thin">Total Boletos Vendidos</h6>
                <h6>{{boletoData?.cantidad_total}} Boletos</h6>
                <div class="graph w-80">
                  <app-cargando *ngIf="cargandoGraphicaBoletos"></app-cargando>
                  <app-chart-cake *ngIf="!cargandoGraphicaBoletos" [idGraph]="'cakeCharBoletos'" [dataGraphics]="boletosGraphicData" ></app-chart-cake>

                </div>
                <div class="table">
                    <table class="">
                        <thead>
                            <tr>
                                <th>Boleto</th>
                                <th>Ventas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                            *ngFor="let b of boletos; let i = index"
                            [ngClass] = "{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }"
                        >
                                <td>{{b.titulo}}</td>
                                <td>{{b.cantidad}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="stat">
            <h5 class="thin">Tours</h5>
            <div class="content">
                <h6 class="thin">Total Tours Vendidos</h6>
                <h6>{{boletoData?.cantidad_total}} Recorridos</h6>
                <div class="graph">
                  <app-cargando *ngIf="cargandoGraphicaRecorridos"></app-cargando>
                  <app-chart-cake *ngIf="!cargandoGraphicaRecorridos" [idGraph]="'cakeCharRecorridos'" [dataGraphics]="recorridosGraphicData" ></app-chart-cake>
                </div>
                <div class="table">
                    <table class="">
                        <thead>
                            <tr>
                                <th>Tour</th>
                                <th>Ventas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                            *ngFor="let t of tours; let i = index"
                            [ngClass] = "{ 'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0 }"
                        >
                                <td>{{t.tour}}</td>
                                <td>{{t.ventas}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="stat">
            <h5 class="thin">Donaciones</h5>
            <div class="content">
                <h6 class="thin">Total Donaciones Realizadas</h6>
                <h6>{{donacionesData?.total}} pesos</h6>
                <div class="graph">
                  <app-cargando *ngIf="cargandoDonacion"></app-cargando>
                  <app-bar-chart *ngIf="!cargandoDonacion"  [dataGraphics]="donacionesGraphicData" ></app-bar-chart>


                </div>
                <p class="p2">El promedio de donaciones es de {{donacionesData?.promedio?.toPrecision(6)}} pesos</p>
            </div>
        </section>
    </main>
</app-dashboard-content>
