<header class="dashboard__titulo">

    <div class="atras-title">
      <app-atras-btn class="atras"></app-atras-btn>
        <h3>{{title}}</h3>
    </div>

      <div class="dashboard__perfil">
        <img src="" alt="Perfil">
        <div class="dashboard__perfil__datos">
          <p class="perfil__nombre bold">Nombre Admin</p>
          <p class="perfil__role p2 thin">Administrador</p>
        </div>
      </div>

  <div class="line"></div>
  <h6 class="dashboard__descripcion">{{subtitle}}</h6>
</header>