@import '../../../styles.scss';
@import url(./fonts.scss);
@import url('desktop.scss');




.sobreNosotros {
  margin-top: 32px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  gap: 32px;


  .sobreNosotros__informacion {
    row-gap: 16px;
    padding: 0 41px
  }

  .sobreNosotros__informacion>* {
    @extend .col-full;
    text-align: center;
  }

  img {
    width: 430px;
    height: 232px;
  }

}



.nuestrosAnimales {

  row-gap: 28px;
  justify-content: center;
  align-items: center;
  align-content: center;


  .nuestrosAnimales__texto {
    @extend .col-full;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }


  .nuestrosAnimales__contenido {
    @extend .col-full;
    gap: 20px;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    scroll-behavior: smooth
  }

}


.boletosHome {

  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;



  .boletos__texto {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }


  .boletos__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    // max-width: 968px;
    // min-width: 260px;
    // width: 430px;
    width: 100%;


    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
  }

}




.recorridosHome {
  display: flex;
  // padding: 24px 41px;
  padding: 24px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

}


.recorridosHome__texto {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;


}


.recorridosHome__recorridos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}




.donacionHome {
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background: var(--Primario-600, #325B3A);
}

.donacionHome__texto {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;



}


.donacionHome__imagenes {
  display: flex;
  height: 264px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin: 0 auto;
  background: var(--Blanco-700, #F0F7EB);
  overflow-x: scroll;

  .donacionHome_imagenPequeño {
    width: 175px;
    height: 215px;
    flex-shrink: 0;
  }

  .donacionHome_imagenGrande {
    width: 350px;
    height: 215px;
    flex-shrink: 0;
  }

}


.mapaHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  gap: 24px;
  // text-align: center;
  align-self: stretch;

  div {
    height: 256px;
    align-self: stretch;

  }

}




.ubicacionHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  padding: 24px 0;



  iframe {
    width: 348px;
    height: 338px;
  }
}


.ubicacionHome__texto {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 12px;



}



@media (min-width: 1200px) {
  .sobreNosotros {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 164px;
    gap: 40px;
    grid-template-columns: repeat(12, 1fr);
    display: grid;

    .sobreNosotros__informacion {
      row-gap: 16px;
      grid-column: 1/ 6;
      display: block;
      align-self: center;
      padding: 0;

    }

    .sobreNosotros__informacion>* {
      display: block;
      text-align: left;
    }

    img {
      grid-column: 6 / 13;
      width: 100%;
      height: 740px;
      object-fit: cover;
      border-radius: 0 160px 0 160px;
    }

  }

  .nuestrosAnimales {
    padding-top: 40px;
    padding-bottom: 40px;

    .nuestrosAnimales__texto {
      display: flex;
      padding: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      grid-column: 9 / 13;

      button {
        height: 60px;
        width: 180px;
      }

    }


    .nuestrosAnimales__contenido {
      grid-column: 1 / 9;
      grid-row: 1 / 2;
    }


  }




  .boletosHome {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    padding: 40px 164px;


    .boletos__container {
      grid-row: 1 / 2;
      grid-column: 1 / 10;
      justify-content: flex-start;

    }


    .boletos__texto {
      grid-column: 10 / 13;
      padding: 20px;

      gap: 32px;
      margin: 0;

    }

  }


  .recorridosHome {
    gap: 40px;
    padding: 40px 0;
  }


  .recorridosHome__texto {
    display: flex;
    width: 1044px;
    padding: 20px;
    margin: 0;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .recorridosHome__recorridos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .donacionHome {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;


    .donacionHome__texto {
      margin: 0 auto;
    }

  }



  .donacionHome__imagenes {
    height: 364px;
    width: 100%;
    overflow-x: scroll;
    gap: 20px;
    .donacionHome_imagenPequeño {
      width: 266px;
      height: 327px;

      flex-shrink: 0;
    }

    .donacionHome_imagenGrande {
      width: 532px;
      height: 327px;

      flex-shrink: 0;
    }

  }

  .mapaHome {
    padding: 40px 0;
    gap: 72px;

    div {
      width: 1072px;
      height: 778px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

  }


  .ubicacionHome {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    padding: 40px 0;

    .ubicacionHome__texto {
      grid-column: 1 / 6;
      padding: 0;
      gap: 40px;
    }

    iframe {
      grid-column: 6 / 13;
      width: 912px;
      height: 912px;
    }
  }

}
