<app-nav-bar></app-nav-bar>
<div>
  <app-slider></app-slider>
</div>

<main class="sobreNosotros">
  <section class="grid-base  sobreNosotros__informacion">
    <p class="sobreNosotrosP ">Aprende, Intuye y Explora.</p>
    <h2 class="sobreNosotrosH2 ">Sobre nosotros</h2>
    <p class="sobreNosotrosP2 ">Desde su apertura en 2024, nuestro zoológico ha sido un hogar seguro para más
      de 150 especies.
      <br>
      Nacimos con la misión de proteger y preservar la vida silvestre, y hoy seguimos creciendo con el mismo compromiso
      hacia la conservación del planeta.
    </p>
  </section>

  <img class="mx-auto" src="img/Home/sobreNosotros.png" alt="Sobre nosotros, bosque">

</main>


<section class="wrapper grid-base   nuestrosAnimales">
  <div class="nuestrosAnimales__texto">
    <h3 class="text-center">Conoce a nuestros animales </h3>
    <p class="nATexto__descripcion">Te invitamos a conocer las increíbles criaturas que dominan el mundo Desde coloridas
      aves tropicales hasta majestuosos rinocerontes, cada especie te sorprenderá con su habilidad para volar y sus
      características únicas.</p>
    <button class="text-center">Conocelos</button>
  </div>
  <div class="nuestrosAnimales__contenido ">
    <app-animal-card [animal]="{
      nombre: 'Búho real',
      peso: '2.75 kg',
      altura: '0.675 m',
      tipo: AnimalEnum.Aereo,
      nombre_cientifico: 'Bubo bubo',
      slug: 'buho-real',
      imagen_principal: 'img/card-animales/Buho.png'
      }"></app-animal-card>
    <app-animal-card [animal]="{
      nombre: 'Tucán toco',
      peso: '0.68 kg',
      altura: '0.6 m',
      tipo: AnimalEnum.Aereo,
      slug: 'tucan-toco',
      nombre_cientifico: 'Ramphastos toco',
      imagen_principal: 'img/card-animales/Tucan.png'
      }"></app-animal-card>
    <app-animal-card class="mobileAnimal" [animal]="{
        nombre: 'Jirafa',
        peso: '1000 kg',
        altura: '5.5 m',
        tipo: AnimalEnum.Terrestre,
        slug: 'jirafa',
        nombre_cientifico: 'Giraffa camelopardalis',
        imagen_principal: 'img/card-animales/Jirafa.png'
        }"></app-animal-card>


  </div>

</section>


<div class="experiencia">

  <div class="experiencia__informacion wrapper">
    <h5>Explora nuestras Inolvidables experiencias</h5>
    <p>En nuestro zoológico, cada experiencia es una oportunidad de aprender, disfrutar y conectar con la naturaleza.
      <br> <br>
      Ofrecemos actividades gratuitas cortas pensadas para toda la familia, donde podrás vivir momentos únicos, rodeado de algunas de las criaturas más fascinantes del planeta.</p>
  </div>

  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="carouselExperiencias-item wrapper">

          <div class="carouselExperiencias__img ">
            <img  src="img/card-experiencias/AlimnetacionAnimales1.png" class="d-block w-100 round-bottom-item " alt="...">
          </div>

          <div class="carouselExperiencias__textoItem">

            <button class=" carouselExample-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>


            <div class="carouselExperiencias__texto">
              <h3 class="text-center">Alimentación de Animales</h3>
              <p class="text-center">Vive la experiencia de alimentar a jirafas, llamas y otros animales amigables.</p>
              <button>Ver Mas</button>
            </div>

            <button class=" carouselExample-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="carouselExperiencias__img round-bottom-item ">
            <img src="img/card-experiencias/AlimentacionAnimales.png" class="d-block w-100 round-top-item " alt="...">
          </div>


        </div>
      </div>

      <div class="carousel-item ">
        <div class="carouselExperiencias-item wrapper">

          <div class="carouselExperiencias__img round-top-item ">
            <img src="img/card-experiencias/EspectaculoAves.png" class="d-block w-100 round-bottom-item " alt="...">
          </div>

          <div class="carouselExperiencias__textoItem">

            <button class=" carouselExample-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>


            <div class="carouselExperiencias__texto">
              <h3 class="text-center">Espectáculo de aves</h3>
              <p class="text-center">Admira el vuelo majestuoso de halcones y águilas mientras aprendes sobre estas impresionantes aves.</p>
              <button>Ver Mas</button>
            </div>

            <button class=" carouselExample-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="carouselExperiencias__img round-bottom-item ">
            <img src="img/card-experiencias/EspectaculoAves2.png" class="d-block w-100 round-top-item " alt="...">
          </div>


        </div>
      </div>

      <div class="carousel-item ">
        <div class="carouselExperiencias-item wrapper">

          <div class="carouselExperiencias__img round-top-item ">
            <img src="img/card-experiencias/SafariFotografico.png" class="d-block w-100 round-bottom-item " alt="...">
          </div>

          <div class="carouselExperiencias__textoItem">

            <button class=" carouselExample-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>


            <div class="carouselExperiencias__texto">
              <h3 class="text-center">Safari Fotográfico</h3>
              <p class="text-center">Captura momentos únicos junto a los animales más salvajes del zoológico.</p>
              <button>Ver Mas</button>
            </div>

            <button class=" carouselExample-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="carouselExperiencias__img round-bottom-item ">
            <img class="round-bottom-item " src="img/card-experiencias/SafariFotografico2.png" class="d-block w-100 round-top-item " alt="...">
          </div>


        </div>
      </div>


    </div>
  </div>




</div>









<section class="boletosHome ">
  <div class="boletos__texto wrapper">
    <h3 class="text-center">Boletos</h3>
    <p class="bTexto__descripcion text-center">Nuestros boletos ofrecen acceso completo a todas las áreas del zoológico,
      diseñados para brindar una experiencia única de aprendizaje, diversión e interacción con la naturaleza.</p>
    <p class="bTexto__horario text-center">Todos los boletos tienen acceso de <span class="fw-700">8 am</span> a <span
        class="fw-700"> 6 pm</span></p>
  </div>

  <div class="boletos__container">
    <app-boleto
      [descripcion]="'Para los más pequeños: acceso a áreas interactivas y actividades especiales que hacen del aprendizaje una aventura.'"
      [precio]="'$70 MXN'" [titulo]="'Infantil'" img="img/card-boletos/Niños.png"></app-boleto>
    <app-boleto [saltosDeLinea]="true"
      [descripcion]="'Vive una experiencia completa con acceso a todas las exhibiciones y charlas educativas del zoológico. \n\n'"
      precio="$120 MXN" titulo="Adulto" img="img/card-boletos/Adultos.png"></app-boleto>
    <app-boleto
      descripcion="A un precio especial, disfruta de una visita tranquila y accesible, ideal para aprender sobre conservación."
      titulo="Tercera Edad" precio="$70 MXN" img="img/card-boletos/3raEdad.png">

    </app-boleto>
  </div>
</section>


<section class="recorridosHome wrapper">

  <div class="recorridosHome__texto">
    <h4>Recorridos</h4>
    <p>Sumérgete en la vida silvestre con nuestros recorridos guiados, diseñados para acercarte a los animales y sus
      historias.</p>

    <button class="recorridoBtn">Reserva</button>


  </div>


  <div class="recorridosHome__recorridos"> <!--FALTA 1.83 y tantos pixeles-->
    <app-recorrido-home img="img/Home/recorridos/puma.png" titulo="Recorrido por Animales Terrestres"
      valoracion="3.9"></app-recorrido-home>

    <app-recorrido-home img="img/Home/recorridos/aves.png" titulo="Safari de Aves en Vuelo"
      valoracion="3.8"></app-recorrido-home>

    <app-recorrido-home img="img/Home/recorridos/tourCompleto.png" titulo="Tour Completo del Zoológico"
      valoracion="4.8"></app-recorrido-home>

    <app-recorrido-home img="img/Home/recorridos/buho.png" titulo="Expedición de Animales Nocturnos"
      valoracion="5.0"></app-recorrido-home>


  </div>

</section>



<section class="donacionHome">

  <div class="donacionHome__informacion wrapper">
    <div class="donacionHome__texto">
      <h4>¡Dona!</h4>
      <p>Tu donación protege animales, apoya la conservación y promueve la educación ambiental. ¡Cada aporte cuenta para
        asegurar un futuro mejor!</p>
    </div>

    <button>Donar ahora</button>
  </div>

  <div class="donacionHome__imagenes">
    <img class="donacionHome_imagenPequeño" src="img/Home/donacion/niño.png"
      alt="Niño pobre con 4 pajaritos en su cuerpo">
    <img class="donacionHome_imagenGrande" src="img/Home/donacion/changuitoQueSePareceAMia.png"
      alt="Dos changuitos amarillo enjaulado">
    <img class="donacionHome_imagenPequeño" src="img/Home/donacion/pajarito.png" alt="Dos pajaritos en manos humanas">
    <img class="donacionHome_imagenPequeño" src="img/Home/donacion/hombreNegroAlimentandoNoSeQue.png"
      alt="Hombre alimentando elefante bebe">
    <img class="donacionHome_imagenGrande" src="img/Home/donacion/tortuga.png" alt="Tortuga en concha">
    <img class="donacionHome_imagenPequeño" src="img/Home/donacion/otroChanguitoQueSePareceAMia.png"
      alt="Changuito enjaulado">
  </div>

</section>

<section class="mapaHome wrapper">
  <h5>Mapa del zoológico</h5>
  <div class="text-center">
    <img class="" src="img/Home/mapaZoo.png" alt="Mapa del zoológico">
  </div>
</section>


<section class="ubicacionHome wrapper">

  <div class="ubicacionHome__texto">
    <h5>Ubicación</h5>
    <p>Zoo-Logic
      <br>
      Avenida Naturaleza 123,
      <br>
      Ciudad Verde, CP 45678,
      <br>
      Mexico, Cancún, Q.Roo

      <br>
      <br>
      Accede por la ciclovía de la Avenida Naturaleza.
    </p>

    <button>Destino</button>
  </div>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7439.551673483749!2d-86.87194373851636!3d21.201062080517694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1ses!2smx!4v1731990439819!5m2!1ses!2smx"
    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

<app-footer></app-footer>
