@import '../../../styles.scss';
@import url(./fonts.scss);
@import url('desktop.scss');




.sobreNosotros {
  margin-top: 32px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  gap: 32px;


  .sobreNosotros__informacion {
    row-gap: 16px;
    padding: 0 41px
  }

  .sobreNosotros__informacion>* {
    @extend .col-full;
    text-align: center;
  }

  img {
    // min-width: 430px;
    width: 100%;
    height: 232px;
  }

}



.nuestrosAnimales {

  row-gap: 28px;
  justify-content: center;
  align-items: center;
  align-content: center;


  .nuestrosAnimales__texto {
    @extend .col-full;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }


  .nuestrosAnimales__contenido {
    @extend .col-full;
    gap: 20px;
    padding-right: -41px;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    // justify-content: center;
    scroll-behavior: smooth;

    /* Ocultar la barra de desplazamiento */
    scrollbar-width: none;
    /* Para Firefox */
    -ms-overflow-style: none;
    /* Para IE y Edge */

    &::-webkit-scrollbar {
      display: none;
      /* Para Chrome, Safari y Edge basados en Chromium */
    }

  }

}


.boletosHome {

  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;



  .boletos__texto {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;



  }


  .boletos__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    // justify-content: center;
    gap: 20px;

    // max-width: 968px;
    // min-width: 260px;
    // width: 430px;
    width: 100%;


    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;

    /* Ocultar la barra de desplazamiento */
    scrollbar-width: none;
    /* Para Firefox */
    -ms-overflow-style: none;
    /* Para IE y Edge */

    &::-webkit-scrollbar {
      display: none;
      /* Para Chrome, Safari y Edge basados en Chromium */
    }


  }

}




.recorridosHome {
  display: flex;
  // padding: 24px 41px;
  padding: 24px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

}


.recorridosHome__texto {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;


}


.recorridosHome__recorridos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}




.donacionHome {
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background: var(--Primario-600, #325B3A);
}

.donacionHome__informacion {
  display: flex;
  padding: 20px 41px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.donacionHome__texto {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;



}


.donacionHome__imagenes {
  display: flex;
  height: 264px;
  width: 100%;
  align-items: center;
  // justify-content: center;
  gap: 13px;
  margin: 0 auto;
  background: var(--Blanco-700, #F0F7EB);
  overflow-x: scroll;

  .donacionHome_imagenPequeño {
    width: 175px;
    height: 215px;
    flex-shrink: 0;
  }

  .donacionHome_imagenGrande {
    width: 350px;
    height: 215px;
    flex-shrink: 0;
  }

}


.mapaHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  gap: 24px;
  // text-align: center;
  align-self: stretch;

  div {
    height: 256px;
    align-self: stretch;

  }

}




.ubicacionHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  padding: 24px 0;



  iframe {
    width: 348px;
    height: 338px;
  }
}


.ubicacionHome__texto {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 12px;



}


.experiencia {
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.experiencia__informacion {
  display: flex;
  // width: 348px;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.carouselExperiencias__texto {
  h3 {
    color: #000;
    text-align: center;

    /* Mobile/H6/Ligth */
    font-family: Fredoka;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 33px */
  }


  p {
    color: var(--Negro-800, #1D1F1D);
    text-align: center;

    /* Mobile/P 02/Ligth */
    font-family: "Comic Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 18px */
  }

  button {
    display: flex;
    width: 96.868px;
    padding: 6.415px;
    height: 36.83px;
    justify-content: center;
    align-items: center;
    gap: 6.415px;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    background: var(--Negro-600, #2E312E);

    color: var(--Blanco-700, #F0F7EB);
    text-align: center;

    /* Mobile/P 01/Bold */
    font-family: "Comic Neue";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 24px */

  }

}

.carouselExperiencias {
  position: relative;
}

.carouselExperiencias-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .carouselExperiencias__img {
    width: 188px;
    height: 188px;
    flex-shrink: 0;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
    }

  }



  .carouselExperiencias__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    flex: 1 0 0;
    padding: 8px 0px;

  }



}

.carouselExperiencias__textoItem {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  padding: 0;

}


.carouselExample-control-prev,
.carouselExample-control-next {
  // top: 50%;
  position: relative;
  // position: absolute;

  width: 40px;
  height: 40px;

  background-color: rgba(29, 31, 29, 0.80);
}

.carouselExample-control-prev {
  left: -15px;
}

.carouselExample-control-next {
  right: -15px;
}

.round-bottom-item {
  border-radius: 0px 0px 64px 0px;
}

.round-top-item {
  border-radius: 64px 0px 0px 0px;
}

@media (min-width: 1200px) {
  .sobreNosotros {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 164px;
    gap: 40px;
    grid-template-columns: repeat(12, 1fr);
    display: grid;

    .sobreNosotros__informacion {
      grid-column: 1/ 6;

      align-self: center;
      padding: 0;

      display: flex;
      padding: 40px 0px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;


    }

    .sobreNosotros__informacion>* {
      display: block;
      text-align: left;
    }

    img {
      grid-column: 6 / 13;
      width: 100%;
      height: 740px;
      object-fit: cover;
      border-radius: 0 160px 0 160px;
    }

  }

  .nuestrosAnimales {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 40px;

    .nuestrosAnimales__texto {
      display: flex;
      padding: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      h3 {
        padding: 0;
        width: 504px;
      }

      grid-column: 9 / 13;

      button {
        height: 60px;
        width: 180px;
      }

    }


    .nuestrosAnimales__contenido {
      grid-column: 1 / 9;
      grid-row: 1 / 2;

      grid-column: 1 / 9;
      grid-row: 1 / 2;
      gap: 40px;

      justify-content: center;



      .mobileAnimal {
        display: none;
      }
    }


  }




  .boletosHome {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    padding: 40px 164px;


    .boletos__container {
      grid-row: 1 / 2;
      grid-column: 1 / 10;
      justify-content: flex-start;
      overflow-x: none;
      // height: 783px;

      /* Ocultar la barra de desplazamiento */
      scrollbar-width: none;
      /* Para Firefox */
      -ms-overflow-style: none;
      /* Para IE y Edge */

      &::-webkit-scrollbar {
        display: none;
        /* Para Chrome, Safari y Edge basados en Chromium */
      }

    }


    .boletos__texto {
      grid-column: 10 / 13;
      padding: 20px;

      gap: 32px;
      margin: 0;


    }

  }


  .recorridosHome {
    gap: 40px;
    padding: 40px 0;

  }


  .recorridosHome__texto {
    display: flex;
    width: 1044px;
    padding: 20px;
    gap: 0;
    margin: 0;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .recorridoBtn {
      display: none;
    }

  }

  .recorridosHome__recorridos {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .donacionHome {


    .donacionHome__informacion {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 40px;
      align-self: stretch;


      button {
        display: flex;
        width: 290px;
        height: 121px;
        padding: 27px 44px;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }

    .donacionHome__texto {
      margin: 0 0 0 0px;
      padding: 40px 40px;

      width: 912px;
      gap: 40px;
      justify-content: flex-start;
      align-items: flex-start;

      h4 {
        text-align: left !important;

      }

      p {
        text-align: left !important;

      }

    }

  }



  .donacionHome__imagenes {
    height: 364px;
    width: 100%;
    overflow-x: scroll;
    gap: 20px;
    /* Ocultar la barra de desplazamiento */
    scrollbar-width: none;
    /* Para Firefox */
    -ms-overflow-style: none;
    /* Para IE y Edge */

    &::-webkit-scrollbar {
      display: none;
      /* Para Chrome, Safari y Edge basados en Chromium */
    }

    .donacionHome_imagenPequeño {
      width: 266px;
      height: 327px;

      flex-shrink: 0;
    }

    .donacionHome_imagenGrande {
      width: 532px;
      height: 327px;

      flex-shrink: 0;
    }

  }

  .mapaHome {
    padding: 40px 0;
    gap: 72px;

    div {
      width: 1072px;
      height: 778px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

  }


  .ubicacionHome {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    padding: 40px 0;

    .ubicacionHome__texto {
      grid-column: 1 / 6;
      padding: 0;
      gap: 40px;
    }

    iframe {
      grid-column: 6 / 13;
      width: 912px;
      height: 912px;
    }
  }




  .carouselExperiencias {
    position: relative;
    display: flex;
    // height: 592px;
    padding: 40px 0px;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    flex-shrink: 0;
  }

  .experiencia {
    padding: 40px 0;
  }

  .experiencia__informacion {
    h5 {
      color: var(--Negro-800, #1D1F1D);
      text-align: center;

      /* Desktop/H3/Medium */
      font-family: Fredoka;
      font-size: 54px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 81px */
    }

    p {
      color: var(--Negro-800, #1D1F1D);
      text-align: center;

      /* Desktop/P/Ligth */
      font-family: "Comic Neue";
      font-size: 32px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      /* 48px */
    }
  }

  .carouselExample-control-prev,
  .carouselExample-control-next {
    // top: 50%;
    position: relative;
    // position: absolute;

    width: 200px;
    height: 80px;
    z-index: 1000;

    background-color: rgba(29, 31, 29, 0.80);
  }

  .carouselExperiencias__texto {
    h3 {
      color: #000;
      text-align: center;

      /* Desktop/H4/Ligth */
      font-family: Fredoka;
      font-size: 48px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      /* 72px */
    }

    p {
      color: var(--Negro-800, #1D1F1D);
      text-align: center;

      /* Desktop/P 01/Ligth */
      font-family: "Comic Neue";
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%;
      /* 36px */
    }

    button {
      display: flex;
      width: 240px;
      height: 88px;
      padding: 27px 44px;
      justify-content: center;
      align-items: center;
      gap: 10px;

      text-align: center;

      /* Desktop/P/Bold */
      font-family: "Comic Neue";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      /* 48px */

      border-radius: 38px;
    }
  }

  .carouselExperiencias-item {
    align-items: center;
    flex-direction: row;
    gap: 40px;


    align-self: stretch;


    .carouselExperiencias__img {
      display: flex;
      width: 532px;
      padding: 0 40px;
      height: auto;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      align-self: stretch;

      img {
        width: 100%;
        height: 100%;
      }

    }



    .carouselExperiencias__texto {
      display: flex;
      // width: 536px;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      flex-shrink: 0;
    }



  }

  .round-bottom-item {
    border-radius: 0px 0px 160px 0px;
  }

  .round-top-item {
    border-radius: 160px 0px 0px 0px;
  }

  .carouselExample-control-prev,
  .carouselExample-control-next {
    // top: 50%;
    position: absolute;

    width: 80px;
    height: 80px;
    background-color: rgba(29, 31, 29, 0.80);
  }

  .carouselExample-control-prev {
    left: 64px;
  }

  .carouselExample-control-next {
    right: 64px;
  }




}
