<app-header-dash-edit title="Editar Guía" subtitle="Edición de datos"></app-header-dash-edit>


  



  <div *ngIf="isAlertVisible" class="alert  alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      Se edito correctamente
    </div>
  </div>
  <form  class="formGuias">

    <div class="items">
      <h6 class="thin">Nombre Completo</h6>
      <div  class="formInput"><input type="text" [(ngModel)]="guia.nombre_completo" [value]="guia.nombre_completo" name="Nombre" id="Nombre" autofocus placeholder="Nombre"></div>

      
    <h6 class="thin">Disponible</h6>
    <div class="form-check form-switch">
      <input 
        class="form-check-input" 
        type="checkbox" 
        role="switch" 
        [(ngModel)]="guia.disponible" 
        name="estado"
        (change)="toggleEstado()"
      />

      </div>
    </div>
    <button (click)="editarGuia($event)" class="formBtn">Modificar</button>
  </form>
