<article>
    <img [src]="membresia.imagen" [alt]="membresia.nombre" width="80px" height="80px">
      <div class="head">
        <div class="membresia">
            <p class="p1 bold ">Membresía</p>
            <p class="p1 text-center">{{membresia.nombre || 'Guardian de los animales'}}</p>
        </div>
        <div class="precio">
            <h3 class="thin">${{membresia.precio || '99.99'}}</h3>
            <div class="mes">
                <p class="thin p2">MXN</p>
                <p class="thin p1">/Mes</p>
            </div>
        </div>
        <button class="chiquito">Compra ahora</button>
      </div>
      <p class="bold">Beneficios</p>
      <ul>
        <li>
          <p class="p1 thin">{{membresia.entradas_ilimitadas ? "• Entradas ilimitadas" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.descuento_alimentos_souvenirs != 0 ? "• Descuento en alimentos y souvenirs" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.acceso_eventos ? "• Acceso a eventos" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{ membresia.descuento_tours ? '• ' + membresia.descuento_tours + '% de descuento en tours guiados' : '' }}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.experiencias_animales ? "• Experiencias con animales" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.estacionamiento_preferencial ? "• Estacionamiento preferencial" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.detras_camaras ? "• Detras de camaras" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.recorrido_vip_gratuito ? "• Recorrido VIP Gratuito" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.programas_conservacion ? "• Acceso a programas de conservación" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.descuento_renta_espacios_eventos != 0 ? "• Descuento en renta de espacios" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.regalo_bienvenida ? "• Regalo de bienvenida" : undefined}}</p>
        </li>
        <li>
          <p class="p1 thin">{{membresia.charlas_educativas ? "• Charlas educativas" : undefined}}</p>
        </li>
      </ul>
</article>