@import "../../../../scss/variables";
.contenedor-main{
    display: flex;
    width: 40rem;
    height: 50rem;
    padding: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
background: var(--Degradado-1, linear-gradient(0deg, rgba(170, 199, 103, 0.50) 0%, rgba(248, 255, 232, 0.00) 100%));
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
h3{
    display: flex;
width: 40rem;
height: 7.4375rem;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
text-align: center;
color: #000;
}

p{
    display: flex;
color: #000;
height: 19.75rem;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
align-self: stretch;
text-align: center;
}
.texto {
    white-space: pre-wrap;
  }  

@media (max-width: 768px){
    .contenedor-main{
        display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    align-self: stretch;
    width: 348px;
    height: auto;
    }
}