<app-dashboard-content>

  <section class="graficasTop">
    <div class="chart-container">
      <canvas  id="cryptoChart" >{{ chart }}</canvas>
    </div>

    <div class="chart-container">
      <canvas  id="MyChart" >{{ chart }}</canvas>
    </div>

    <div class="chart-container">
      <canvas  id="" >{{ chart }}</canvas>
    </div>

  </section>
  <section class="graficasBottom">
    <div class="chart-container">
      <div class="title_graph">
        <h6 class="thin">Boletos Vendidos</h6>
        <canvas  id="cryptoChart" >{{ chart }}</canvas>
      </div>
    </div>

    <div class="chart-container">
      <div class="title_graph">
        <h6 class="thin">Tours Vendidos</h6>
        <canvas  id="cryptoChart" >{{ chart }}</canvas>
      </div>
    </div>
  </section>



</app-dashboard-content>
