<router-outlet></router-outlet>
<app-dashboard-content>

  <section class="graficasTop">
    <div class="chart-container-top">
      <p class="aa">Total Boletos Vendidos</p>
                <h5 class="thin">{{boletoData?.cantidad_total}} Boletos</h5>
    </div>

    <div class="chart-container-top">
      <p class="aa">Tours Vendidos Última Semana</p>
      <h5 class="thin">{{recorridoData?.cantidad_total}} Tours</h5>

    </div>

    <div class="chart-container-top">
      <p class="aa">Promedio Donaciones Última Semana</p>
      <h5 class="thin">${{donacionesData?.total}} pesos</h5>

    </div>

  </section>
  <section class="graficasBottom">
    <div class="chart-container">
      <div class="title_graph">
        <h6 class="thin">Boletos Vendidos</h6>
        <div class="graph w-80">
          <app-cargando *ngIf="cargandoGraphicaBoletos"></app-cargando>
          <app-chart-cake *ngIf="!cargandoGraphicaBoletos" [idGraph]="'cakeCharBoletos'" [dataGraphics]="boletosGraphicData" ></app-chart-cake>

        </div>
      </div>
    </div>

    <div class="chart-container">
      <div class="title_graph">
        <h6 class="thin">Tours Vendidos</h6>
        <div class="graph">
          <app-cargando *ngIf="cargandoGraphicaRecorridos"></app-cargando>
          <app-chart-cake *ngIf="!cargandoGraphicaRecorridos" [idGraph]="'cakeCharRecorridos'" [dataGraphics]="recorridosGraphicData" ></app-chart-cake>
        </div>
      </div>
    </div>
  </section>



</app-dashboard-content>
