<app-nav-bar></app-nav-bar>
<div class="recorridosPage">
    <header class="heroRecorridos">
        <div class="txtHeroRec text-white-200">
            <h1>Vive una aventura educativa y emocionante</h1>
            <p class="p1">Recorre el zoológico junto a nuestros guías y descubre historias fascinantes, adaptaciones únicas y comportamientos inesperados</p>
        </div>
    </header>
    <section class="RecorridoyCalendario">

        <div class="EscogeRecorrido">

            <div class="selectorRecorrido">
                <h3 class="thin text-center">Escoge tu recorrido</h3>
                <div class="selector">
                    <div class="infoRecorrido text-white-800">
                        <div class="imgRecorrido"></div>
                        <div class="textoRec">
                            <h4>Recorrido</h4>
                            <p>Nombre</p>
                            <p class="bold">Precio: </p>
                        </div>
                    </div>
                    <div class="desplegable"></div>
                </div>
            </div>

            <div class="contadorRecorrido">
                <h5 class="thin">Personas extra</h5>
                <div class="MargenContador bg-primary-800 text-white-200">
                    <div class="contador">
                        <div (click)="personasExtraMenos()" class="menos"></div>
                        <div class="pmargin"><p class="bold">{{cantidadPersonas}}</p></div>
                        <div (click)="personasExtraMas()" class="mas"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="EscogeFecha text-center">
            <h3 class="thin">Escoge tu Fecha</h3>
            <full-calendar #calendarRecorrido [options]="calendarOptions" class="calendario"></full-calendar>
            <div class="horario">
                <div class="Inicio">
                    <h5 class="thin">Inicio</h5>
                    <select class="horInicio desplegable">
                        <option *ngFor="let horario of horarioInput" class="thin">{{horario.horario_inicio}}</option>
                    </select>
                </div>
                <div class="Termino">
                    <h5 class="thin">Termino</h5>
                    <div class="horTermino">
                        <div class="thin">{{horarioFin}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button class="reservar">Reservar</button>
</div>


<app-footer></app-footer>
