.floatButton {
  position: fixed;
  top: 92px;
  left: 42px;
  display: inline-flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background: var(--Blanco-200, #F9FFF5);

  .verde {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 18px;
    background: var(--Primario-Auxiliar-200, #C6DA9A);

    .carrito {
      width: 28px;
      height: 28px;
    }
  }

  @media (min-width: 1200px) {
    top: 108px;
    left: 164px;
    display: flex;
    width: 112px;
    height: 108px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Blanco-200, #F9FFF5);

    .verde {
      display: flex;
      height: 72px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      border-radius: 8px;

      .carrito {
        width: 48px;
        height: 48px;
      }
    }
  }


}


/* Estilo del contenido colapsable */
.collapse {
  position: fixed;
  top: 92px;
  left: 42px;

  @media (min-width: 1200px) {
    top: 108px;
    left: 164px;
  }
}

.floatCart {
  display: flex;
  width: 348px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  display: flex;
  width: 348px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  z-index: 1040;
  border-radius: 24px;
  background: var(--Blanco-200, #F9FFF5);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);

  .cartButton {
    display: flex;
    padding: 3px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--Primario-Auxiliar-200, #C6DA9A);

    .carrito {
      width: 40px;
      height: 40px;
    }
  }

  .content {
    display: flex;
    padding: 0px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    .resumenBol {
      display: flex;
      align-items: center;
      gap: 40px;
      align-self: stretch;

      .cantidadBol {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }

    .tour {
      display: flex;
      align-items: center;
      gap: 4px;
      align-self: stretch;

      .minus {
        width: 20px;
        height: 20px;
      }
    }

    .fecha {
      display: flex;
      align-items: center;
      gap: 16px;
      align-self: stretch;
    }

    .hora {
      display: flex;
      align-items: flex-start;
      gap: 32px;
      align-self: stretch;

      .inicio,
      .fin {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }
    }

    .personas {
      display: flex;
      align-items: center;
      gap: 40px;
      align-self: stretch;

      .cantidad {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }

    .warning {
      display: flex;
      padding: 4px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 8px;
      background: var(--Secundario-300, #E18C89);

      .warnIco {
        width: 24px;
        height: 24px;
      }
    }
  }

  @media (min-width: 1200px) {
    all: unset;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    border-radius: 16px;
    background: var(--Blanco-200, #F9FFF5);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);

    h6.thin {
      font-size: 22px;
    }

    .cartButton {
      all: unset;
      display: flex;
      height: 72px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      align-self: stretch;
      border-radius: 8px;
      background: var(--Primario-Auxiliar-200, #C6DA9A);

      .carrito {
        width: 48px;
        height: 48px;
      }
    }

    .content {
      all: unset;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .resumenBol {
        all: unset;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;

        .cantidadBol {
          all: unset;
          display: flex;
          align-items: center;
          gap: 16px;
        }
      }

      .tour {
        all: unset;
        display: flex;
        align-items: center;
        gap: 4px;
        align-self: stretch;

        p {
          font-size: 20px;
        }

        .minus {
          width: 20px;
          height: 20px;
        }
      }

      .fecha {
        all: unset;
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;

        p {
          font-size: 20px;
        }
      }

      .hora {
        all: unset;
        display: flex;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;

        .inicio {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;

          p {
            font-size: 20px;
          }
        }
      }

      .personas {
        all: unset;
        display: flex;
        align-items: center;
        gap: 40px;

        .cantidad {
          display: flex;
          align-items: center;
          gap: 24px;
        }
      }

      .warning {
        all: unset;
        display: flex;
        padding: 4px 15.5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 8px;
        background: var(--Secundario-300, #E18C89);

        .warnIco {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}


.compra {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 1080px;
  padding: 0px 164px;
  gap: 40px;
  background: url(../../../../public/img/pages/Recorridos/HeroDesktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  div {
    grid-column: 4 / span 6;
    display: flex;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    p {
      color: var(--Blanco-200, #F9FFF5);
      text-align: center;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      /* Desktop/P/Medium */
      font-family: "Comic Neue";
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      /* 48px */
      @media (max-width: 1200px) {
        color: var(--Blanco-200, #F9FFF5);
        text-align: center;

        /* Mobile/P 01/Bold */
        font-family: "Comic Neue";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 24px */
      }
    }
  }
}

.indicator {
  grid-column: span 12;
}


.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  padding: 52px 164px;
  gap: 40px;
  row-gap: 48px;

  button {
    grid-column: span 12;
  }
}

.boletos {
  grid-column: 2 / span 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.bol {
  width: 100%;
}

.tours {
  grid-column: 2 / span 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1400px) {

  .bol {
    width: fit-content;
  }

  .boletos {

    all: unset;
    grid-column: span 12;

    align-items: center;
    text-align: center;
    overflow: hidden;
    /* Evita que elementos internos desborden el contenedor */

    /* Imagen de fondo */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../../../public/img/pages/Recorridos/HerorecorridosMobile.png);
      background-size: cover;
      /* La imagen cubrirá el contenedor */
      background-position: center;
      /* Centra la imagen */
      z-index: -1;
      /* Asegura que esté detrás del contenido */
    }

    /* Contenedor para el texto */
    .txtHeroRec {
      width: 100%;
      max-width: 580px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0 41px;
      /* Mantiene el texto dentro de las columnas */
      z-index: 1;
      /* Asegura que el texto esté encima de la imagen */
    }
  }

  .RecorridoyCalendario {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .EscogeRecorrido,
    .EscogeFecha {
      width: 100%;
      display: flex;
      padding: 20px 0px;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      .selectorRecorrido,
      .contadorRecorrido {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;

        .text {
          width: 100%;
        }


      }

      .tours {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
      }
    }


    @media (max-width: 1200px) {

      .compra {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 730px;
        padding: 0px 41px;
        gap: 20px;
        background-repeat: no-repeat;
        background-position: center;

        div {
          text-align: center;
          grid-column: span 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;
          padding: 0;

          h1,
          p {
            width: 100%;
          }
        }
      }

      .page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 41px;
        gap: 20px;
        row-gap: 16px;

        app-indicador {
          align-items: center;
          gap: 20px;

          .selector {
            width: 100%;

            align-self: center;
            max-width: 776px;
            display: flex;
            padding: 0px 10px;
            justify-content: space-between;
            align-items: center;

            border-radius: 16px;
            background: var(--Primario-800, #25442B);

            .infoRecorrido {
              display: flex;
              align-items: center;
              gap: 21px;
              align-self: stretch;

              .imgRecorrido {
                width: 88px;
                height: 80px;
                border-radius: 8px;
                background-color: aquamarine;
              }

            }

            .desplegable {
              width: 30px;
              height: 30px;
              background-image: url(../../../../public/img/pages/Recorridos/SigiuenteMobile.svg);
            }
          }

          .MargenContador {
            display: flex;
            width: fit-content;
            padding: 15px 10px;
            align-items: center;
            gap: 31.169px;
            border-radius: 12.83px;

            .contador {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 16px;

              .menos {
                width: 20px;
                height: 20px;
                background-image: url(../../../../public/img/contadorBoletos/Menos.svg);
              }

              .mas {
                width: 20px;
                height: 20px;
                background-image: url(../../../../public/img/contadorBoletos/Mas.svg);
              }
            }
          }



          .calendario {
            // width: 348px;
            // height: 372px;
            // background-color: chocolate;
          }

          .horario {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            text-align: center;
            gap: 20px;

            .Inicio,
            .Termino {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              gap: 24px;
              flex-shrink: 0;

              .horInicio,
              .horTermino {
                display: flex;
                width: 164px !important;
                height: 68px;
                width: auto;
                padding: 8px 0px;
                justify-content: center;
                align-items: center;
                gap: 24px;
                align-self: center;
                border-radius: 16px;
                background: var(--Blanco-800, #E7ECE3);

                .desplegable {
                  width: 30px;
                  height: 30px;
                  background-image: url(../../../../public/img/pages/Recorridos/SigiuenteMobile.svg);
                }
              }
            }
          }
        }
      }

      .reservar {
        grid-column: span 2;
      }

      section,
      button {
        grid-column: span 2;
      }

      .boletos {

        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          align-self: stretch;
        }
      }

      .tours {
        gap: 24px;
      }

      button {
        margin-top: 8px;
      }
    }
  }
}
