<app-nav-bar></app-nav-bar>
<div class="recorridosPage">
    <header class="heroRecorridos">
        <div class="txtHeroRec text-white-200">
            <h1>Vive una aventura educativa y emocionante</h1>
            <p class="p1">Recorre el zoológico junto a nuestros guías y descubre historias fascinantes, adaptaciones únicas y comportamientos inesperados</p>
        </div>
    </header>
    <section class="RecorridoyCalendario">

        <div class="EscogeRecorrido">

            <div class="selectorRecorrido">
                <h3 class="thin text-center">Escoge tu recorrido</h3>
                <app-selector-recorrido></app-selector-recorrido>
            </div>

            <div class="contadorRecorrido">
                <h5 class="thin">Personas extra</h5>
                <div class="MargenContador bg-primary-800 text-white-200">
                    <div class="contador">
                        <div class="menos"></div>
                        <div class="pmargin"><p class="bold">0</p></div>
                        <div class="mas"></div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="EscogeFecha text-center">
            <h3 class="thin">Escoge tu Fecha</h3>
            <div class="calendario"></div>
            <div class="horario">
                <div class="Inicio">
                    <h5 class="thin">Inicio</h5>
                    <div class="horInicio">
                        <h6 class="thin">10:00</h6>
                        <div class="desplegable"></div>
                    </div>
                </div>
                <div class="Termino">
                    <h5 class="thin">Termino</h5>
                    <div class="horTermino">
                        <h6 class="thin">15:00</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <button class="reservar">Reservar</button>
</div>


<app-footer></app-footer>