@use "sass:math";
@use "sass:map";
@import './scss/variables';
@import './scss/_mixins';


body{
  margin: 0;
}

// Reiniciar márgenes y paddings
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0 !important;
  padding: 0 !important;
}

a{
  text-decoration: none;
}

// Definir box-sizing y font-size base
html {
  box-sizing: border-box;
  font-size: 100%; // 1rem = 16px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
}

// Definir la base en px para convertir a rem


@include generate-color-classes($colors);

// Llamada para aplicar los márgenes y padding generados
@include generate-spacing-classes($spacing-scale);

// Variables de la grid

.grid-base{
  display: grid;
  grid-template-columns: repeat(12, 1fr) !important;
  gap: 40px;
}
.col-full{
  grid-column: 1 / 13;
}



@media (max-width: 960px) {
  .grid-base{
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
  }

  .col-full{
    grid-column: 1 / 3;
  }

}

// @media (width: 1920px) {
//   .grid-base{
//     grid-template-columns: repeat(12, 96px) !important;
//     gap: 40px;
//   }
// }


@media(width: 430px) {
  .grid-base{
    grid-template-columns: 164px 164px !important;
    gap: 20px ;
  }



}



// WRAPPER
.wrapper {
  margin: 0 10% 0 10%;

}

@media (max-width: 960px) {
  .wrapper {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 20px;
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (width: 1920px) {
  .wrapper {
    // grid-template-columns: repeat(12, 96px);
    // gap: 40px;
    // height: 939px;
    margin-left: 164px;
    margin-right: 164px;
  }
}


@media(width: 430px) {
  .wrapper {
    // grid-template-columns: 164px 164px;
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (max-width: 430px) {
  .wrapper {
    // grid-template-columns: 164px 164px;
    margin-left: 41px;
    margin-right: 41px;
  }
}



// UTILIDADES

// .text-center{
//   text-align: center;
// }



.fw-100{
  font-weight: 100 !important;
}
.fw-200{
  font-weight: 200 !important;
}
.fw-300{
  font-weight: 300 !important;
}
.fw-400{
  font-weight: 400 !important;
}
.fw-500{
  font-weight: 500 !important;
}
.fw-600{
  font-weight: 600 !important;
}
.fw-700{
  font-weight: 700 !important;
}
.fw-800{
  font-weight: 800 !important;
}
.fw-900{
  font-weight: 900 !important;
}


.mx-auto{
  margin:  0 auto;
}


.error{
  color: red;
}
