// Definición de fuentes y colores
  // @font-face {
  //   font-family: 'Cherry Bomb One';
  //   src: url(fonts/CherryBomb-Regular.ttf);
  // }

  // @font-face {
  //   font-family: 'Comic Neue';
  //   src: url(fonts/ComicNeue-Regular.ttf);
  // }

  // @font-face {
  //   font-family: 'Fredoka';
  //   src: url(fonts/Fredoka-Regular.ttf);
  // }

$colors: (
  "primary": (
    200: #81BA8C,
    300: #68AC75,
    400: #467F51,
    500: #386641,
    600: #325B3A,
    700: #2C4F33,
    800: #25442B
  ),
  "primaryAux": (
    200: #C6DA9A,
    300: #BDD389,
    400: #B3CD78,
    500: #AAC767,
    600: #9CBE4E,
    700: #8BAC3F,
    800: #779336
  ),
  "secondary": (
    200: #E9ADAB,
    300: #E18C89,
    400: #DC7B78,
    500: #D86B67,
    600: #D1504B,
    700: #C53833,
    800: #A9302B
  ),
  "secondaryAux": (
    200: #F6E0A8,
    300: #F4DB99,
    400: #F3D68B,
    500: #F1D17C,
    600: #EDC457,
    700: #E9B733,
    800: #DCA617
  ),
  "black": (
    200: #757C75,
    300: #606560,
    400: #4A4E4A,
    500: #343734,
    600: #2E312E,
    700: #232523,
    800: #1D1F1D
  ),
  "white": (
    200: #FCFFFA,
    300: #FCFFF9,
    400: #FBFFF8,
    500: #FAFFF6,
    600: #F7FFF1,
    700: #F0F7EB,
    800: #E7ECE3
  )
);
* {
  font-family: "Comic Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 72px */
}

body {
  font-family: 'Comic Neue'; // Usar Comic Neue por defecto

}




a{
  text-decoration: none;
  color: #1D1F1D;
  width: 100%;
}

input::placeholder, textarea::placeholder{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--Negro-200, #757C75);
  text-align: start;                    
  /* Desktop/P 02/Ligth */
  font-family: "Comic Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
}

@media (max-width: 1200px) {
  input[type= "text"], input[type= "password"], input[type= "email"]{
    height: 53px ;
    padding: 0 16px ;
    border-radius: 16px;
    border: 3px solid var(--Primario-Auxiliar-200, #C6DA9A) ;
    background: var(--Blanco-400, #FBFFF8) ;
    width: 100%;
  }

  input::placeholder, textarea::placeholder{
      color: var(--Negro-200, #757C75);      
      /* Mobile/P 01/Ligth */
      font-family: "Comic Neue";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%; /* 24px */
}
}

h1 {
  font-family: "Cherry Bomb One";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 63px */
}

h2, h3, h4, h5, h6 {
  font-family: 'Fredoka'; // Usar Fredoka para los encabezados
  line-height: 150%; /* 72px */
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 22px;
}



.p1 {
  font-size: 16px;
  line-height: 150%; /* 72px */
}

.p2{
  font-size: 14px;
  line-height: 150%; /* 72px */
}

.bold {
  font-weight: 700;
  line-height: 150%; /* 72px */
}

.thin {
  font-weight: 300;
  line-height: 150%; /* 72px */
}

button {
  all: unset;
  border-color: transparent;
  width: 100%;
  height: 46px;
  border-radius: 20px;
  background: var(--Primario-Auxiliar-400, #B3CD78);
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--Negro-800, #1D1F1D);
  
  /* Mobile/P/Bold */
  font-family: "Comic Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
button.formBtn{
  width: 218px;
  height: 80px;
}
button.chiquito {
  height: 40px;
  button.chiquito {
    height: 52px;
    border-radius: 12px;

/* Mobile/P 01/Bold */
font-family: "Comic Neue";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
  }
}

button.dashboard{
  all:unset;
  display: flex;
  width: 96.868px;
  padding: 6.415px 0px;
  justify-content: center;
  align-items: center;
  gap: 6.415px;
  flex-shrink: 0;
  
  color: var(--Negro-800, #1D1F1D);
  text-align: center;
  border-radius: 12px;
  background: var(--Primario-Auxiliar-400, #B3CD78);

  /* Mobile/P 01/Bold */
  font-family: "Comic Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
button.delete{
  background: var(--Secundario-200, #E9ADAB);
}
button.blackBtn{
  color: var(--Blanco-300, #FCFFF9);
  background: var(--Negro-500, #343734);
}

button:hover {
  background: var(--Secundario-Auxiliar-800, #DCA617);
  transition: background-color 0.5s ease, color 0.5s ease;
}



// Estilos de Desktop
@media (min-width: 1200px) {

  input[type= "text"], input[type= "password"], input[type= "email"]{
    display: flex;
    height: 80px;
    padding: 16px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    border: 3px solid var(--Primario-Auxiliar-200, #C6DA9A);
    background: var(--Blanco-400, #FBFFF8);
  }


  * {
    font-size: 32px;
  }


  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 72px;;
  }

  h3 {
    font-size: 54px;
  }

  h4 {
    font-size: 48px;
  }

  h5 {
    font-size: 40px;
  }

  h6 {
    font-size: 32px;
  }



  .p1 {
    font-size: 24px;
  }

  .p2 {
    font-size: 20px;
  }

  button {
    width: 100%;
    height: 80px;
    border-radius: 38px;
    background: var(--Primario-Auxiliar-500, #AAC767);
    
    color: var(--Negro-800, #1D1F1D);
    text-align: center;
    font-family: "Comic Neue";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 48px */

    .btnnegro{
      background: var(--Negro-500, #343734);
    }
  }
  button.chiquito {
    height: 52px;
    font-family: "Comic Neue";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    border-radius: 24px;
  }
}
