// _variables.scss
@font-face {
  font-family: 'Cherry Bomb';
  src: url(fonts/CherryBomb-Regular.ttf);
}

@font-face {
  font-family: 'Comic Neue';
  src: url(fonts/ComicNeue-Regular.ttf);
}

@font-face {
  font-family: 'Fredoka';
  src: url(fonts/Fredoka-Regular.ttf);
}
$colors: (
  "primary": (
    200: #81BA8C,
    300: #68AC75,
    400: #467F51,
    500: #386641,
    600: #325B3A,
    700: #2C4F33,
    800: #25442B
  ),
  "primaryAux": (
    200: #C6DA9A,
    300: #BDD389,
    400: #B3CD78,
    500: #AAC767,
    600: #9CBE4E,
    700: #8BAC3F,
    800: #779336
  ),
  "secondary": (
    200: #E9ADAB,
    300: #E18C89,
    400: #DC7B78,
    500: #D86B67,
    600: #D1504B,
    700: #C53833,
    800: #A9302B
  ),
  "secondaryAux": (
    200: #F6E0A8,
    300: #F4DB99,
    400: #F3D68B,
    500: #F1D17C,
    600: #EDC457,
    700: #E9B733,
    800: #DCA617
  ),
  "black": (
    200: #757C75,
    300: #606560,
    400: #4A4E4A,
    500: #343734,
    600: #2E312E,
    700: #232523,
    800: #1D1F1D
  ),
  "white": (
    200: #FCFFFA,
    300: #FCFFF9,
    400: #FBFFF8,
    500: #FAFFF6,
    600: #F7FFF1,
    700: #F0F7EB,
    800: #E7ECE3
  )
);

  h1 {
    font-family: "Cherry Bomb";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  h2, h3, h4, h5, h6 {
    font-family: "Fredoka";
    font-style: normal;
    line-height: 150%;
  }
  
  // Tamaños y pesos de encabezados
  h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  
  h3 {
    font-size: 3.375rem;
    font-weight: 500;
  }
  
  h4 {
    font-size: 3rem;
    font-weight: 500;
  }
  
  h5 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  h6 {
    font-size: 2rem;
    font-weight: 500;
  }
  
  // Estilos para el párrafo
  *{
    font-family: "Comic Neue";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
  }
  
  // Estilos para variantes de peso en los textos
  p .p2{
    font-size: 1.25rem;
  }
  .bold{
    font-weight: 700;
  }
  
  .thin{
    font-weight: 300;
  }

