// Definición de fuentes y colores
// @font-face {
//   font-family: 'Cherry Bomb';
//   src: url(fonts/CherryBomb-Regular.ttf);
// }

// @font-face {
//   font-family: 'Comic Neue';
//   src: url(fonts/ComicNeue-Regular.ttf);
// }

// @font-face {
//   font-family: 'Fredoka';
//   src: url(fonts/Fredoka-Regular.ttf);
// }

$colors: (
  "primary": (
    200: #81BA8C,
    300: #68AC75,
    400: #467F51,
    500: #386641,
    600: #325B3A,
    700: #2C4F33,
    800: #25442B
  ),
  "primaryAux": (
    200: #C6DA9A,
    300: #BDD389,
    400: #B3CD78,
    500: #AAC767,
    600: #9CBE4E,
    700: #8BAC3F,
    800: #779336
  ),
  "secondary": (
    200: #E9ADAB,
    300: #E18C89,
    400: #DC7B78,
    500: #D86B67,
    600: #D1504B,
    700: #C53833,
    800: #A9302B
  ),
  "secondaryAux": (
    200: #F6E0A8,
    300: #F4DB99,
    400: #F3D68B,
    500: #F1D17C,
    600: #EDC457,
    700: #E9B733,
    800: #DCA617
  ),
  "black": (
    200: #757C75,
    300: #606560,
    400: #4A4E4A,
    500: #343734,
    600: #2E312E,
    700: #232523,
    800: #1D1F1D
  ),
  "white": (
    200: #FCFFFA,
    300: #FCFFF9,
    400: #FBFFF8,
    500: #FAFFF6,
    600: #F7FFF1,
    700: #F0F7EB,
    800: #E7ECE3
  )
);

body {
  font-family: 'Comic Neue'; // Usar Comic Neue por defecto
  
}

h1 {
  font-family: "Cherry Bomb One";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 63px */
}

h2, h3, h4, h5, h6 {
  font-family: 'Fredoka'; // Usar Fredoka para los encabezados
  line-height: 150%; /* 72px */
}

h2 {
  font-size: 38px;
  font-weight: 500;
}

h3 {
  font-size: 34px;
  font-weight: 500;
}

h4 {
  font-size: 30px;
  font-weight: 500;
}

h5 {
  font-size: 26px;
  font-weight: 500;
}

h6 {
  font-size: 22px;
  font-weight: 500;
}

* {
  font-family: "Comic Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 72px */
}

.p1 {
  font-size: 16px;
  line-height: 150%; /* 72px */
}

.p2 {
  font-size: 12px;
  line-height: 150%; /* 72px */
}

.bold {
  font-weight: 700;
  line-height: 150%; /* 72px */
}

.thin {
  font-weight: 300;
  line-height: 150%; /* 72px */
}

button {
  display: flex;
  width: 151px;
  height: 54px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
background: var(--Primario-Auxiliar-400, #B3CD78);
  border-radius: 20px;
  border: #00000000;
  color: var(--Negro-800, #1D1F1D);
  text-align: center;
  
  /* Mobile/H6/Medium */
  font-family: "Fredoka";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 33px */
}
button.chiquito {
  display: flex;
  width: 96.868px;
  padding: 6.415px;
  justify-content: center;
  align-items: center;
  gap: 6.415px;
  border-radius: 12.83px;
  background: var(--Primario-Auxiliar-400, #B3CD78);

  color: var(--Negro-800, #1D1F1D);
  text-align: center;
  font-family: "Fredoka";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

button:hover {
  background: var(--Secundario-Auxiliar-800, #DCA617);
  transition: background-color 0.5s ease, color 0.5s ease;
}

// Estilos de Desktop
@media (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 3.375rem;
  }
  
  h4 {
    font-size: 3rem;
  }
  
  h5 {
    font-size: 2.5rem;
  }
  
  h6 {
    font-size: 2rem;
  }

  * {
    font-size: 32px;
  }

  .p1 {
    font-size: 24px;
  }

  .p2 {
    font-size: 20px;
  }

  button {
    display: flex;
    width: 242px;
    height: 87px;
    padding: 27px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 38px;
    background: var(--Primario-Auxiliar-500, #AAC767);
    color: var(--Negro-800, #1D1F1D);
text-align: center;

/* Desktop/P/Bold */
font-family: "Comic Neue";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 48px */
  }
  button.chiquito{
    display: flex;
    width: 180px;
    height: 60px;
    padding: 27px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 38px;
color: var(--Negro-800, #1D1F1D);
text-align: center;

/* Desktop/P 01/Bold */
font-family: "Comic Neue";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
  }
}
