input[type="text"]{
    all: unset;
    background-color: transparent;
    border: transparent;
    width: 100%;
}
label{
    color: var(--Negro-600, #2E312E);

    /* Mobile/P 02/Bold */
    font-family: "Comic Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
}


.filtroAnimal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 6px;
    background: var(--Primario-Auxiliar-200, #C6DA9A);
    border-radius: 24px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    .filtroBusq {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 33px;
      background: var(--Primario-Auxiliar-700, #8BAC3F);
      border-radius: 24px;

      .filtroVector {
        width: 18px;
        height: 18px;
        background: url(../../../../public/img/pages/Animales/FiltroMobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }


  }


.filtroAnimal[aria-expanded="true"]{
    border-radius: 80px 80px 0px 0px;
    background: var(--Secundario-Auxiliar-100, #F3EBD6);
    box-shadow: none;
    .filtroBusq{
        border-radius: 80px 80px 0px 0px;
        background: var(--Secundario-Auxiliar-600, #EDC457);
    }
}










.dropdown-menu{
    margin: 0;
    background: var(--Secundario-Auxiliar-100, #F3EBD6);
    transform: translate3d(-81.5px, 47px, 0px) !important;
    height: 140px;
}
.dropdown-design{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px 20px;
    height: 100%;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        li{
            display: flex;
            align-items: center;
            gap: 4px;
            .check{
                all: unset;
            cursor: pointer;
                background: #232523;
                width: 20.8px;
                height: 20.8px;
                border: solid 2px #757C75;
                border-radius: 2px;
                position: relative;
                &::before {
                    content: '';
                    top: 40%;
                    left: 50%;
                    position: absolute;
                    width: 6px;
                    height: 10px;
                    border: solid transparent;
                    border-width: 0 3px 3px 0;
                    transform: translate(-50%, -50%) rotate(45deg);
                    opacity: 0; /* Escondido por defecto */
                }
            
                &:checked {
                    background: var(--Primario-Auxiliar-700, #8BAC3F);
                    border: solid 2px var(--Primario-Auxiliar-200, #C6DA9A);
            
                    &::before {
                        border-color: var(--Primario-Auxiliar-200, #C6DA9A);
                        opacity: 1; /* Mostrar la palomita */
                    }
                }
            }
        }
    }

    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
        button{
            all: unset;
        }
        .limpiar{
            cursor: pointer;

            display: flex;
            padding: 4px 16px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 20px;
            border: 3px solid var(--Secundario-200, #E9ADAB);
            background: var(--Secundario-600, #D1504B);
            color: var(--Blanco-800, #E7ECE3);

            /* Mobile/P 02/Bold */
            font-family: "Comic Neue";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 21px */

            &:hover{
                transition: 0.3s ease;
                border: 3px solid var(--Secundario-700, #C53833);
                background: var(--Secundario-800, #A9302B);
            }
        }
        .filtrar{
            cursor: pointer;
display: flex;
width: 100%;
            padding: 4px 0;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 20px;
            border-radius: 20px;
border: 3px solid var(--Primario-Auxiliar-200, #C6DA9A);
background: var(--Primario-Auxiliar-700, #8BAC3F);
            color: var(--Blanco-800, #E7ECE3);

            /* Mobile/P 02/Bold */
            font-family: "Comic Neue";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 21px */
            &:hover{
                transition: 0.3s ease;
                border: 3px solid var(--Secundario-Auxiliar-100, #F3EBD6);
                background: var(--Secundario-Auxiliar-700, #E9B733);
            }
        }

    }
}

















 .animalesHero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 790px;
        padding: 96px 41px 0 41px;
        flex-direction: column;
        gap: 16px;
        flex-shrink: 0;
        background-image: url(../../../../public/img/pages/Animales/heroAnimalesMobile.png);
    background-position: center;
        .anHeroTxt{
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            @media (max-width: 1200px) {
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }
    }

    .buscarAnimal{
        width: 100%;
        display: flex;
        padding: 0px 41px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        .animalTxt{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            h2{
                color: #000;
                text-align: center;
                
                /* Mobile/H2/Medium */
                font-family: Fredoka;
                font-size: 38px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 57px */
            }
        }
        .buscarAnimalBusqueda {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 346px;
          
            .inputContainer {
                display: flex;
                width: 275px;
                height: 40px;
                padding: 5px;
                justify-content: flex-end;
                align-items: center;
                gap: 12.5px;
                border-radius: 20px;
                background: var(--Primario-Auxiliar-200, #C6DA9A);
                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
                transition: background 0.3s ease; // Transición suave

                &:focus-within {
                    background: var(--Secundario-Auxiliar-100, #F3EBD6);
                    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);      
                    .lupa{
                        background: var(--Secundario-Auxiliar-600, #EDC457);
                                            
                        .vectorLupa{
                            flex-shrink: 0;
                            background-image: url(../../../../public/img/pages/Animales/LupaMobileSelected.svg);
                        }                       
                    } 
                }
                  
              .lupa {
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 27.5px;
                height: 27.5px;
                background: var(--Primario-Auxiliar-700, #8BAC3F);
                border-radius: 20px;
                cursor: pointer;
          
                .vectorLupa {

                  width: 15px;
                  height: 15px;
                  background: url(../../../../public/img/pages/Animales/LupaMobile.svg);
                  background-size: contain;
                  background-repeat: no-repeat;
                }
              }
            }
          

          }
          
    }
    .animalesCards{
        display: flex;
        width: 100%;
        padding: 32px 41px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 32px 20px;
        flex-wrap: wrap;
    }
    .btncontainer{
        display: flex;
        width: 100%;
        padding: 0 41px;
        margin-bottom: 32px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 32px 20px;
    }

@media (min-width: 1200px){


    .dropdown-menu{
        margin: 0;
        background: var(--Secundario-Auxiliar-100, #F3EBD6);
        transform: translate3d(-78.5px, 76px, 0px) !important;
    }

    .filtroAnimal{
        display: flex;
        width: 77px;
        height: 77px;
        padding: 9.625px;
        justify-content: center;
        align-items: center;
        gap: 24.063px;
        border-radius: 38.5px;
        box-shadow: 0px 9.625px 9.625px 0px rgba(0, 0, 0, 0.25);
        .filtroBusq{
            display: flex;
            width: 52.938px;
            height: 52.938px;
            justify-content: center;
            align-items: center;
            gap: 24.063px;
            flex-shrink: 0;
            border-radius: 38.5px;
            .filtroVector{
                width: 28.875px;
                height: 28.875px;
                flex-shrink: 0;
                background: url(../../../../public/img/pages/Animales/FiltroDesk.svg);
            }
        }
    }


















    .animalesHero {
        position: relative; /* Define el contexto para posicionamiento absoluto */
        display: grid;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding: 0 164px;
        background-image: url(../../../../public/img/pages/Animales/hero.png);
        height: 1080px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    
        .imgAnimal {
            all: unset;
            grid-column: span 5;
        }
    
        .anHeroTxt {
            all: unset;
            width: 100%;
            grid-column: 6 / span 7;
            display: flex;
            position: absolute; /* Relativo a .animalesHero */
            top: 50%; /* Centrar verticalmente */
            transform: translateY(-50%); /* Ajustar el centrado */
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }
    }
    
    .buscarAnimal{
        display: grid !important;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        gap: 40px;
        padding: 80px 164px;
        .animalTxt{
            grid-column: span 6;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 16px;
        }

        .buscarAnimalBusqueda{
            grid-column: 7 / span 6;
            display: flex;
            flex-direction: row;
            width: auto;
            justify-content: center;
            align-items: center;
            gap: 38.5px;
            .inputContainer{
                display: flex;
                width: 536px;
                height: 80px;
                padding: 9.625px;
                justify-content: flex-end;
                align-items: center;
                gap: 24.063px;
                border-radius: 38.5px;
                background: var(--Primario-Auxiliar-200, #C6DA9A);
                box-shadow: 0px 9.625px 9.625px 0px rgba(0, 0, 0, 0.25);  
                &:focus-within {

                    .lupa{
                                            
                        .vectorLupa{
                            background-image: url(../../../../public/img/pages/Animales/LupaDeskSelected.svg);
                        }                       
                    } 
                }              
                .lupa{
                    display: flex;
                    width: 52.938px;
                    height: 52.938px;
                    justify-content: center;
                    align-items: center;
                    gap: 24.063px;
                    flex-shrink: 0;
                    border-radius: 38.5px;
                    .vectorLupa{
                        width: 29px;
                        height: 29px;
                        background: url(../../../../public/img/pages/Animales/LupaDesk.svg);
                    }
                }
            }
        }
    }
    .animalesCards{
        gap: 40px;
        padding: 40px 164px 0 164px;
    }
    .btncontainer{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        padding: 0 164px;        
        .boton{
            grid-column: 3 / span 8;
            margin: 80px auto 96px auto;
        }
    }


}
