<app-nav-bar></app-nav-bar>

<div class="animalesHero">
    <div class="anHeroTxt text-center ">
        <h1 class="animHeroH1 text-white-200">Descubre la Magia de Nuestros Animales</h1>
        <p class="thin animHeroH1 text-white-200">Sumérgete en un mundo lleno de diversidad y maravilla. Desde majestuosos depredadores hasta criaturas únicas, conoce a nuestros animales y conecta con ellos en una experiencia inolvidable.</p>
    </div>
</div>

<div class="buscarAnimal d-flex align-content-center text-md-center text-xl-start">
    <div class="animalTxt">
        <h2 class="thin">Buscar Animales</h2>
        <p class="thin">Conoce, Explora y Aprende.</p>
    </div>

    <div class="buscarAnimalBusqueda">
      <div class="inputContainer">
        <input type="text" placeholder="Buscar Animal"/>
        <button type="button" class="lupa">
          <div class="vectorLupa"></div>
        </button>
      </div>



      <div class="dropdown-center">
        <div type="button" class="filtroAnimal" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="filtroBusq">
            <div class="filtroVector"></div>
          </div>
        </div>

        <div class="dropdown-menu border-0">
          <div class="dropdown-design">

            <ul>
              <li class="list-group-item">
                <input class="check bg-black-800" type="checkbox" value="" id="firstCheckbox">
                <label class="p2 bold" for="firstCheckbox">Terrestre</label>
              </li>
              <li class="list-group-item">
                <input class="check bg-black-800" type="checkbox" value="" id="secondCheckbox">
                <label class="p2 bold" for="secondCheckbox">Aéreo</label>
              </li>
              <li class="list-group-item">
                <input class="check bg-black-800" type="checkbox" value="" id="thirdCheckbox">
                <label class="p2 bold" for="thirdCheckbox">A-Z</label>
              </li>
            </ul>
  
            <div class="buttons">
              <button class="limpiar">Limpiar</button>
              <button class="filtrar">Filtrar</button>
            </div>

          </div>
        </div>

      </div>


    </div>



</div>

<div class="animalesCards">


    <app-animal-card *ngFor="let animal of pagination?.data" [animal] = "animal" >
      </app-animal-card>



</div>
<button (click)="masAnimales()" class="boton">Ver más</button>


<app-footer></app-footer>
