<app-nav-bar></app-nav-bar>

<div class="animalesHero">

    <div class="imgAnimal"></div>

    <div class="anHeroTxt text-center">
        <h1 class="animHeroH1 ">Descubre la Magia de Nuestros Animales</h1>
        <p class="p1 animHeroH1">Sumérgete en un mundo lleno de diversidad y maravilla. Desde majestuosos depredadores hasta criaturas únicas, conoce a nuestros animales y conecta con ellos en una experiencia inolvidable.</p>
    </div>
</div>

<div class="buscarAnimal d-flex align-content-center text-md-center text-xl-start">
    <div class="animalTxt">
        <h2 class="buscarAnimalH3">Buscar Animales</h2>
        <p class="buscarAnimalH3 p1 ligth ">Conoce, Explora y Aprende.</p>
    </div>

    <div class="buscarAnimalBusqueda">
      <div class="inputContainer">
        <input type="text" placeholder="Buscar Animal"/>
        <button type="button" class="lupa">
          <div class="vectorLupa"></div>
        </button>
      </div>
      <button type="button" class="filtroAnimal">
        <div class="filtroBusq">
          <div class="filtroVector"></div>
        </div>
      </button>
    </div>



</div>

<div class="animalesCards">


    <app-animal-card *ngFor="let animal of pagination?.data" [animal] = "animal" >
      </app-animal-card>



</div>
<button (click)="masAnimales()" class="boton">Ver más</button>


<app-footer></app-footer>
