<app-nav-bar></app-nav-bar>

<div class="animalesHero">
    <div class="anHeroTxt text-center ">
        <h1 class="animHeroH1 text-white-200">Descubre la Magia de Nuestros Animales</h1>
        <p class="thin animHeroH1 text-white-200">Sumérgete en un mundo lleno de diversidad y maravilla. Desde majestuosos depredadores hasta criaturas únicas, conoce a nuestros animales y conecta con ellos en una experiencia inolvidable.</p>
    </div>
</div>

<div class="buscarAnimal d-flex align-content-center text-md-center text-xl-start">
    <div class="animalTxt">
        <h2 class="thin">Buscar Animales</h2>
        <p class="thin">Conoce, Explora y Aprende.</p>
    </div>

    <div class="buscarAnimalBusqueda">
      <div class="inputContainer">
        <input type="text" placeholder="Buscar Animal"/>
        <button type="button" class="lupa">
          <div class="vectorLupa"></div>
        </button>
      </div>



      <div class="dropdown-center">
        <div type="button" class="filtroAnimal" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="filtroBusq">
            <div class="filtroVector"></div>
          </div>
        </div>

        <div class="dropdown-menu border-0">
          <div class="dropdown-design">

            <ul>
              <li class="list-group-item">
                <input class="check bg-black-800" type="checkbox" value="" id="firstCheckbox">
                <label class="p2 bold" for="firstCheckbox">Terrestre</label>
              </li>
              <li class="list-group-item">
                <input class="check bg-black-800" type="checkbox" value="" id="secondCheckbox">
                <label class="p2 bold" for="secondCheckbox">Aéreo</label>
              </li>
              <li class="list-group-item">
                <input class="check bg-black-800" type="checkbox" value="" id="thirdCheckbox">
                <label class="p2 bold" for="thirdCheckbox">A-Z</label>
              </li>
            </ul>
  
            <div class="buttons">
              <button class="limpiar">Limpiar</button>
              <button class="filtrar">Filtrar</button>
            </div>

          </div>
        </div>

      </div>


    </div>
  
    
    
</div>

<div class="animalesCards">
    <app-animal-card [animal] = "{
        nombre: 'León',
        peso: '200 kg',
        altura: '1.2 m',
        tipo: 'Terrestre',
        nombreCientifico: 'Panthera leo',
        imagenUrl: 'img/card-animales/Leon.png'
        }" >
      </app-animal-card>
      <app-animal-card [animal] = "{
        nombre: 'León',
        peso: '200 kg',
        altura: '1.2 m',
        tipo: 'Terrestre',
        nombreCientifico: 'Panthera leo',
        imagenUrl: 'img/card-animales/Leon.png'
        }" >
      </app-animal-card>
      <app-animal-card [animal] = "{
        nombre: 'León',
        peso: '200 kg',
        altura: '1.2 m',
        tipo: 'Terrestre',
        nombreCientifico: 'Panthera leo',
        imagenUrl: 'img/card-animales/Leon.png'
        }" >
      </app-animal-card>

      <app-animal-card [animal] = "{
        nombre: 'Búho real',
        peso: '2.75 kg',
        altura: '0.675 m',
        tipo: 'Aéreo',
        nombreCientifico: 'Bubo bubo',
        imagenUrl: 'img/card-animales/Buho.png'
        }"></app-animal-card>

        <app-animal-card [animal] = "{
          nombre: 'Jirafa',
          peso: '1000 kg',
          altura: '5.5 m',
          tipo: 'Terrestre',
          nombreCientifico: 'Giraffa camelopardalis',
          imagenUrl: 'img/card-animales/Jirafa.png'
          }"></app-animal-card>

          <app-animal-card [animal] = "{
            nombre: 'Tucán toco',
            peso: '0.68 kg',
            altura: '0.6 m',
            tipo: 'Aéreo',
            nombreCientifico: 'Ramphastos toco',
            imagenUrl: 'img/card-animales/Tucan.png'
            }"></app-animal-card>

            <app-animal-card [animal] ="{
              nombre: 'Elefante  africano',
              peso: '6 ton',
              altura: '3 m',
              tipo: 'Terrestre',
              nombreCientifico: 'Loxodonta africana',
              imagenUrl: 'img/card-animales/Elefante.png'
            }">

            </app-animal-card>

      <app-animal-card [animal] = "{
        nombre: 'León',
        peso: '200 kg',
        altura: '1.2 m',
        tipo: 'Terrestre',
        nombreCientifico: 'Panthera leo',
        imagenUrl: 'img/card-animales/Leon.png'
        }" >
      </app-animal-card>


</div>


<div class="btncontainer">
  <button class="boton">Ver más</button>
</div>


<app-footer></app-footer>
